{
  "log": {
    "_recordingName": "Queries/#Basic Queries/should throw when object not exists",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "3fe02efb92ce2b1ddfe810435a56a485",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "9ca6769072b986993aa73d4ea8bc75f2,1568827986467"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "null"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore/123"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 48,
            "text": "[\"1f8b0800000000000003abae050043bfa6a302000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 151,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
