{
  "log": {
    "_recordingName": "Objects/Relational Data/should create many to many relations",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "1f5dd717c743e5bc46d7a30dd6f49eb2",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "6d67486969ce9da731d2270d50677597,1568868360180"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Person?where=%7B%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 372,
            "text": "[\"1f8b08000000000000035dcebd0e82301405e077b93390b6fcd876737431c638690ca9edd5a085125a06427877afabdbc939df70569830ce3e45d0b7156ce847332ca0c1a319ac0fb3830ccc0b417395819dd02474fb444030ae7256e7425d18d762a7cba69095b8929f47f7c754ce89559a33cd4421cbeac7c2e38d361d1ca9daa243c6642dedb3928c9243256543ca771fa4732bb46d5a463a0267f4267561a0d17a13e3d1f4bffa1462826dbb6f5f79dbf29bd3000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 04:46:00.152 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 140,
      },
      {
        "_id": "844e9c4f17615d887d0a9a87c68a0ce5",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "6d67486969ce9da731d2270d50677597,1568868360180"
            },
  [...]
