{
  "log": {
    "_recordingName": "Objects/Relational Data/should create many to many relations",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "0319fec4bd666b7ab265352fd16bc112",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "aa50e6fd12a2ea4c33db21de572fac42,1568831846371"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Person?where=%7B%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 390,
            "text": "[\"1f8b08000000000000035dce310bc2301086e1ff72b3955c9bd8369ba38b88382922d7e4143536c1a48394fe7753dc5cbf7b78b911de1c079722e8d308c6bf02f51fd0e0987ae3fc6061017463d0d82ec0bc9912db75caa014d8164215581f5068acb52c97b2ae8ed90fc1feb1b6c0e6808dae9496b844d5ce2cf4f4ca6108eefe64cc83ef1e6cd2c6e64d19cb0dc91529beaa5a08d1541d2be2ac669dbf1de172499f3007f6ec28dd7d9f8fc6518cdb5f77e76382693a4f5f4319b562e4000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 18 Sep 2019 18:37:26.353 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 158,
      },
      {
        "_id": "17ba3edf75b2afd8f5bdeb268b70fe01",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "aa50e6fd12a2ea4c33db21de572fac42,1568831846371"
            },
  [...]
