{
  "log": {
    "_recordingName": "Queries/Relational Queries/should return relation count",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "1f5dd717c743e5bc46d7a30dd6f49eb2",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "81ff9878822f7fe064dc4f05cc38b97a,1568868372334"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Person?where=%7B%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 396,
            "text": "[\"1f8b08000000000000034dce3d0f82301485e1ff726720b7a5f2d1cdd1c518c3a431a4d0ab512b6d681908e1bf5be2e27af2e4e45d60243f99e0415e17e8edc7a961060986d4d01b3b6948c00dea437173e6f92616877e241548ef431c393291224f196fb090c8a4e059c9f112d9e4f43fab53ac528e0d43991792555991971b538f78ceea046cf7a23e1c74e43b7eef904441a2435d11a1b80b2d288f7c8b88b50bb46d98ddd67526a3c2d30e5b9951de1f7fb927eb03aceb6dfd023b088011e4000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 04:46:03.141 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 164,
      },
      {
        "_id": "fce8122abdaab1b92f6a2803140660a9",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "b9dfe7b5cdcb8a460aa64b1a3319bf84,1568868372503"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"$relatedTo\":{\"object\":{\"__type\":\"Pointer\",\"className\":\"Person\",\"objectId\":\"52fb0e46e4b0d8ee04f4d4e3\"},\"key\":\"likes\"}}"
            },
            {
              "name": "limit",
              "value": "0"
            },
            {
              "name": "count",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post?where=%7B%22%24relatedTo%22%3A%7B%22object%22%3A%7B%22__type%22%3A%22Pointer%22%2C%22className%22%3A%22Person%22%2C%22objectId%22%3A%2252fb0e46e4b0d8ee04f4d4e3%22%7D%2C%22key%22%3A%22likes%22%7D%7D&limit=0&count=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 94,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ed5514ace2fcd2b51b23234ac05001eb04d8e19000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 04:46:02.821 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 161,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
