{
  "log": {
    "_recordingName": "Queries/Relational Queries/should return relation count",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "7ab232dc9fd954ecd98881fcfd942e24",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "e9cfa271c4afa201d1119c894bb07cdb,1568866209413"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Person?where=%7B%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 372,
            "text": "[\"1f8b08000000000000035dcebd0e82301405e077b93390b6fcd876737431c638690ca9edd5a085125a06427877afabdbc939df70569830ce3e45d0b7156ce847332ca0c1a319ac0fb3830ccc0b417395819dd02474fb444030ae7256e7425d18d762a7cba69095b8929f47f7c754ce89559a33cd4421cbeac7c2e38d361d1ca9daa243c6642dedb3928c9243256543ca771fa4732bb46d5a463a0267f4267561a0d17a13e3d1f4bffa1462826dbb6f5f79dbf29bd3000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 04:10:04.222 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 167,
      },
      {
        "_id": "2e5b23cdcbfee645a946128cd0349dbe",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "7ca41834bf0ab34f1a102919b98a2f95,1568866209585"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"$relatedTo\":{\"object\":{\"__type\":\"Pointer\",\"className\":\"Person\",\"objectId\":\"5cede00858cf480008de9886\"},\"key\":\"likes\"}}"
            },
            {
              "name": "limit",
              "value": "0"
            },
            {
              "name": "count",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post?where=%7B%22%24relatedTo%22%3A%7B%22object%22%3A%7B%22__type%22%3A%22Pointer%22%2C%22className%22%3A%22Person%22%2C%22objectId%22%3A%225cede00858cf480008de9886%22%7D%2C%22key%22%3A%22likes%22%7D%7D&limit=0&count=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 92,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ed5514ace2fcd2b51b232a805003cab449a18000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 04:10:03.878 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 151,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
