{
  "log": {
    "_recordingName": "User/authenticated/isAuthenticated/currentUser.isAuthenticated()",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f083b232583ad8178f9737c3a080464a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "239a0b0f75cb70f688885c4344f3862f,1568873165531,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "vd752h9wqjhr3qn6cnxlynnki"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"tester1\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22tester1%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 400,
            "text": "[\"1f8b08000000000000038d8e3d0bc2301445ff4b665b92f483a6938e6e0ee2a038c4e4562b495b921404f1bffbea2238096fbaf73cce7db28038bb14597b7a3278dd3bd6b2849810c41a0fed2787dc8c9eadd83c599d60378908c985cab8ca84daf3ba5daeca0b218f844db7710021a5a8b242c98c4b2e291e2f7798b4b5d454b62984365619258b8a73de34b5a955b93822c2a03dbe23283401ff883feb0f087dd783349d76112b76c56011e8b3a3de81383f5e7a87dd32f3877e9d5f6fcd5c628711010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 06:06:05.314 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 172,
      },
      {
        "_id": "ba40fe9b24fb113992e2dd1612de065d",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "7c1e712fa9c30f7070cb670d8e91c408,1568873165707,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "vd752h9wqjhr3qn6cnxlynnki"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User/5d831acd9c9235000886c694"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 48,
            "text": "[\"1f8b0800000000000003abae050043bfa6a302000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "applicati[...]
