{
  "log": {
    "_recordingName": "User/existing user/fetch User/should resolve promise",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f083b232583ad8178f9737c3a080464a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "df3b1b9fa4f19317dd1d510215a2bb11,1568873168838,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"tester1\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22tester1%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 406,
            "text": "[\"1f8b08000000000000038d8eb16ac3301445ff45b31d9ee4d8589ed2b15b87d22121832c5d372e926d240502c6ff9ee72c854e8537dd7b1ee7ae2222dd7d4ea2bbac02c18c5e742223654479c2c384c5e360e7200a715f9cc9706f9909455297a44ba93fa9e9f66b0fd5519f195b6ef304468eb22e2bad4a52a4389efb1fd8fceeb8a95d5b49e3485badaa9a88dab6b18d6e7647429c4cc0ef080e6dc47fc4aff55f88e330823583f10985f8c6e410f973e0de83b930f7a3c7c73ef30fbd5db727ec786da211010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 06:06:08.350 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 176,
      },
      {
        "_id": "6e8f581b27f8376af6c5e39da66e1628",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "0babdd055e52aa9767b4f56012eb95ca,1568873169018,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "0"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User/5d831ad09c9235000886c696"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 48,
            "text": "[\"1f8b0800000000000003abae050043bfa6a302000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "applicati[...]
