{
  "log": {
    "_recordingName": "Queries/Query Constraints/sizeEqualTo",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "62dcc44f961ea2d16c2585fd18c18ad0",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "3b905ad70ea6b7724b180df345f7e9f0,1568866207926"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"players\":{\"$size\":2}}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore?where=%7B%22players%22%3A%7B%22%24size%22%3A2%7D%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 264,
            "text": "[\"1f8b08000000000000038d8c310e83301004ffb2354477476c647729d35325a2b07da68890828c2922c4df437e9072a499d951f2bacd75857feed8160d35ebadc243884dcbd48a1d983c5fbdb88b387ea0412af91f6d99c32797df19e1c488b1c13bbe72aa773d4b6345272563294ab0697224d277d2e3188f2f277fb8bb97000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 04:10:07.735 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 160,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
