{
  "log": {
    "_recordingName": "Queries/Query Constraints/sizeEqualTo",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "3a9fbd2811f839b31975930b1d2afb19",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "5b397106ba5c0b03fd35395903a1d340,1568868367505"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/TestClass\",\"body\":{\"foo\":\"bar\"}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 218,
            "text": "[\"1f8b08000000000000030dcaad0e80201406d077b959dc87fc0834a3dda433281783c54d3031df5d4f3e4ba5fcc49872a650e9dacf14cbc814c8b05370380e0d561b80de68c9bba186e29db69278287feb20bd8017d24fd041db80beb546cef4beeb07cc7cd9565c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 164,
      },
      {
        "_id": "2147a90da0b66986e82209bedcee39a9",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "c5ace7e08865e33e0d39c8324890b413,1568868367674"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/GameScore\",\"body\":{\"playerName\":\"testname\",\"score\":1000,\"players\":[\"a\",\"b\"],\"test\":{\"__type\":\"Pointer\",\"className\":\"TestClass\",\"objectId\":\"5d83080ff40d3a0007541db5\"}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dca311240301005d0bb6c8df92462379d52af62146ca2d09891a88cbbf3ea373f946ed59812f987ceed889a87409edac0068c5d541ad30260766ac34605e915d71c439fffd6a0961252d632c27aeb3cba8ae1267adfe503b[...]
