{
  "log": {
    "_recordingName": "AV.Status/Send status./should send status to followers.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f8deca8d8acd83de0d1445f0959c29ed",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "appId",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            }
          ],
          "url": "https://app-router.leancloud.cn/2/route?appId=95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 279,
            "text": "{\"ttl\":3600,\"stats_server\":\"95tnuaos.stats.lncldapi.com\",\"rtm_router_server\":\"95tnuaos.rtm.lncldapi.com\",\"push_server\":\"95tnuaos.push.lncldapi.com\",\"play_server\":\"95tnuaos.play.lncldapi.com\",\"engine_server\":\"95tnuaos.engine.lncldapi.com\",\"api_server\":\"95tnuaos.api.lncldapi.com\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 130,
      },
      {
        "_id": "e9b5645c11535692d47ddec592e37158",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "2d92d8bacaffe4e764e47007e7698799,1568883552267,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"StatusTest\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22StatusTest%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ead05000a277c9e0e000000\"]"
         [...]
