{
  "log": {
    "_recordingName": "Objects/Relational Data/should save all successfully",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "3060e02e0b9b1d6ae03eaa9404af50de",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "9c39fe361a7ed81310b65cc047ca8c8b,1568827610909"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Person?where=%7B%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 348,
            "text": "[\"1f8b08000000000000038dceb10e82301485e177b93398165a8bdd1c5d8c314e1a432eed95a085125a06427877eb1bb89ef30dff0a1385d9c500fab182f1fd88c3021a1ce1609c9f2d64802d81162c03331146b2c79840c1f8216732e7eac699e64a8b622754794f7e1eed3fcc376f32f1649392c65285628f925e5231c6aab221899494eb3e94e256a8ebb88c2904aee430767e48a77118c219fbdf7cf121c2b63db72f42616043d3000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 18 Sep 2019 17:26:50.879 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 159,
      },
      {
        "_id": "5323194a655465f2cae547693c86f5f5",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "94a0809c1c3b4a778110dc49c6e9a47d,1568827611078"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"PUT\",\"path\":\"/1.1/classes/Person/5cde8a46a5ef5700083be5ae\",\"body\":{\"age\":30}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 218,
            "text": "[\"1f8b08000000000000030dca2b0e80300c00d0bb54036907856d0e89474110fb148181649b22bb3b3cfdf6175209415202fb4279a2cb12e70c16149269d1b4a4579aac1a2d53a7486fd0c0ed2f097989ffe21045bb61742c274f88a87b2fec046a3d3eb3dbb0825c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 161,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
