{
  "log": {
    "_recordingName": "Objects/Relational Data/should save all successfully",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "7ab232dc9fd954ecd98881fcfd942e24",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "3be67683f37c219eb84cc1724eb3e835,1568866201499"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Person?where=%7B%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 350,
            "text": "[\"1f8b08000000000000038dcec10e82301004d07fd9339852014b6f1ebd18633c690ca9ed6ad04209dd1e08e1df5dffc0db64e61d66810963f21441df16b0a11fcd3083068f66b03e2407199817822e4506764243e8f6c4408aa2c94595cbe6220a2d777a5b6f5429afecd3e8fe61e1f1464b07c7aab2e850085529fb2c95e0e4b051aa66e5bb0ff2b905da96e6918fc019bda12e0c3c5a6f623c9afe579f422458d7fbfa0547ee4c3fd3000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 04:10:01.471 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165,
      },
      {
        "_id": "a14279375765e4fe3d169bc90d88f652",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "113b4b967113b94f5e99f66762837e6d,1568866201668"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"PUT\",\"path\":\"/1.1/classes/Person/5cede00858cf480008de9886\",\"body\":{\"age\":30}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 214,
            "text": "[\"1f8b08000000000000030dcab10e40301006e077b919f94bc9b59bd16e2206eece6021694de2ddd9bee19b1f4ab788a544f1a1fbd2359bf69922d570a144285d18e1a34384abb8c144059ddb619207fd572ba60670cbb27bc62fb5c0dcd1fb2e1f0d1147ce5c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 183,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
