{
  "log": {
    "_recordingName": "Geopoints/save object with geopoints",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "1e7ea48775ddc27e109e2285f23bf805",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "c8714e4b54189ff2a747ada6f2580cac,1568866189724"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"title\":\"Post Geopoints\",\"body\":\" Geopoints content.\",\"location\":{\"__type\":\"GeoPoint\",\"latitude\":40,\"longitude\":-30}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d82ff8df40d3a0007541cf9\",\"createdAt\":\"2019-09-19T04:09:49.900Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Post/5d82ff8df40d3a0007541cf9"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 182,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
