{
  "log": {
    "_recordingName": "Geopoints/save object with geopoints",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "2c202e3810b26d7234ef552ff415b56f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "appId",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            }
          ],
          "url": "https://app-router.leancloud.cn/2/route?appId=95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 279,
            "text": "{\"ttl\":3600,\"stats_server\":\"95tnuaos.stats.lncldapi.com\",\"rtm_router_server\":\"95tnuaos.rtm.lncldapi.com\",\"push_server\":\"95tnuaos.push.lncldapi.com\",\"play_server\":\"95tnuaos.play.lncldapi.com\",\"engine_server\":\"95tnuaos.engine.lncldapi.com\",\"api_server\":\"95tnuaos.api.lncldapi.com\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 127,
      },
      {
        "_id": "c386ecbcf3d641ab4e8a0fc0b2cfe9a0",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "99c4aa44ff675811346300dafacbe353,1568831834955"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"title\":\"Post Geopoints\",\"body\":\" Geopoints content.\",\"location\":{\"__type\":\"GeoPoint\",\"latitude\":40,\"longitude\":-30}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d82795b9c9235000886b6aa\",\"createdAt\":\"2019-09-18T18:37:15.152Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Post/5d82795b9c9235000886b6aa"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 201,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
