{
  "log": {
    "_recordingName": "Geopoints/save object with geopoints",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "8b2d85a41340a697f574b460fc7a1888",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "appId",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            }
          ],
          "url": "https://app-router.leancloud.cn/2/route?appId=95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 279,
            "text": "{\"ttl\":3600,\"stats_server\":\"95tnuaos.stats.lncldapi.com\",\"rtm_router_server\":\"95tnuaos.rtm.lncldapi.com\",\"push_server\":\"95tnuaos.push.lncldapi.com\",\"play_server\":\"95tnuaos.play.lncldapi.com\",\"engine_server\":\"95tnuaos.engine.lncldapi.com\",\"api_server\":\"95tnuaos.api.lncldapi.com\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 80,
      },
      {
        "_id": "37bd75588a6f71d03885e1cf5475672b",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "948836761030266aeb47e381cf887854,1568829746686"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"title\":\"Post Geopoints\",\"body\":\" Geopoints content.\",\"location\":{\"__type\":\"GeoPoint\",\"latitude\":40,\"longitude\":-30}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8271329c9235000886b61d\",\"createdAt\":\"2019-09-18T18:02:26.883Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Post/5d8271329c9235000886b61d"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 205,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
