{
  "log": {
    "_recordingName": "Geopoints/save object with geopoints",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "1c281391ca6fd690f4cd993db0cbd20f",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "cccc1865d4c18d5cb3afd65dbe0de37e,1568868348166"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"title\":\"Post Geopoints\",\"body\":\" Geopoints content.\",\"location\":{\"__type\":\"GeoPoint\",\"latitude\":40,\"longitude\":-30}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8307fc9c9235000886c4bf\",\"createdAt\":\"2019-09-19T04:45:48.354Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Post/5d8307fc9c9235000886c4bf"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 209,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
