{
  "log": {
    "_recordingName": "Queries/#cloudQuery/should return syntax error.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "84ac89d73d1e41ed2f56fb8da0078bd3",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "7aa175ea960a50883ba947cd889bea08,1568868366122"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "null"
          },
          "queryString": [
            {
              "name": "cql",
              "value": "select * GameScore limit 10"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/cloudQuery?cql=select%20%2A%20GameScore%20limit%2010"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 164,
            "text": "{\"code\":300,\"error\":\"CQL syntax error.Detail: Parse error at line 1, column 10:\\nselect * GameScore limit 10\\n         ^\\nExpected one of:\\nfrom\\n#\\\"\\\\s+\\\"\\n,\\n\\n\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 147,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
