{
  "log": {
    "_recordingName": "AV.Cloud/#rpc/receive bare AVObject",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "16afcc3b1fef87afcdcef612647b7a85",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "4h2h4okwiyn8b6cle0oig00vitayum8ephrlsvg7xo8o19ne"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "073f7792011b91e534a95c00b8c13264,1568868348801"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.leancloud.cn/1.1/call/bareAVObject"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 971,
            "text": "{\"result\":{\"xxoo\":null,\"dateColumn\":{\"__type\":\"Date\",\"iso\":\"2015-05-14T06:24:47.000Z\"},\"numberColumn\":1.23,\"fileColumn\":{\"name\":\"ttt.jpg\",\"url\":\"http://lc-4h2h4okw.cn-n1.lcfile.com/4qSbLMO866Tf4YtT9QEwJwysTlHGC9sMl7bpTwhQ.jpg\",\"mime_type\":\"image/jpeg\",\"bucket\":\"4h2h4okw\",\"metaData\":{\"owner\":\"55069e5be4b0c93838ed8e6c\",\"size\":310991},\"objectId\":\"55543fc2e4b0846760bd92f3\",\"createdAt\":\"2015-05-14T06:25:06.161Z\",\"updatedAt\":\"2015-05-14T06:25:06.161Z\",\"__type\":\"File\"},\"stringColumn\":\"testString\",\"arrayColumn\":[1,2,3],\"anyColumn\":\"\",\"pointerColumn\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"55069e5be4b0c93838ed8e6c\"},\"booleanColumn\":true,\"objectColumn\":{\"foo\":\"bar\"},\"relationColumn\":{\"__type\":\"Relation\",\"className\":\"TestObject\"},\"geopointColumn\":{\"__type\":\"GeoPoint\",\"latitude\":0,\"longitude\":30},\"objectId\":\"55543f8ee4b0846760bd8d9c\",\"createdAt\":\"2015-05-14T06:24:14.849Z\",\"updatedAt\":\"2015-12-30T06:32:35.423Z\",\"__type\":\"Object\",\"className\":\"ComplexObject\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 106,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
