{
  "log": {
    "_recordingName": "Role/constructor/acl is required",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "db635d151ade7aa27abbd3d9fdecff6e",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "feea05a17865905ffc40b3f04b302ab5,1569224366878"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "nrivwzkwe7fwcnyxcmqdcaryu"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"name\":\"foo\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_Role"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 42,
            "text": "{\"code\":1,\"error\":\"Role ACL is required.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 162,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
