{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-runtime",
    [
      "transform-inline-environment-variables",
      {
        "include": [
          "PLATFORM"
        ]
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
