{
  "log": {
    "_recordingName": "Objects/Relational Data/should fetch when save when creating new object.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "6e7a0884d8b4e853a7c664b0d8d725d6",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "2c42ed73bb4f0a54729fa8fe4ab0a6cd,1568831848127"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"pname\":\"dennis\"}"
          },
          "queryString": [
            {
              "name": "new",
              "value": "true"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Person?new=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 205,
            "text": "{\"company\":\"leancloud\",\"pname\":\"dennis\",\"createdAt\":\"2019-09-18T18:37:28.311Z\",\"updatedAt\":\"2019-09-18T18:37:28.311Z\",\"objectId\":\"5d827968f40d3a0007540dd5\",\"likes\":{\"__type\":\"Relation\",\"className\":\"Post\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Person/5d827968f40d3a0007540dd5"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 194,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
