{
  "log": {
    "_recordingName": "Objects/Relational Data/should fetch when save when creating new object.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "6a0cb4c92b20b8239e07dd31a93ba938",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "2a3748d62e01a0b5a8c64092dc5e8364,1568827612278"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"pname\":\"dennis\"}"
          },
          "queryString": [
            {
              "name": "new",
              "value": "true"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Person?new=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 205,
            "text": "{\"company\":\"leancloud\",\"pname\":\"dennis\",\"createdAt\":\"2019-09-18T17:26:52.418Z\",\"updatedAt\":\"2019-09-18T17:26:52.418Z\",\"objectId\":\"5d8268dcf40d3a0007540c47\",\"likes\":{\"__type\":\"Relation\",\"className\":\"Post\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Person/5d8268dcf40d3a0007540c47"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 153,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
