{
  "log": {
    "_recordingName": "Objects/Relational Data/should fetch when save when creating new object.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "30db93f382b4fafc275b3ae800bf9553",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "b6e4c146989a2fea491f075bbb107318,1568866202862"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"pname\":\"dennis\"}"
          },
          "queryString": [
            {
              "name": "new",
              "value": "true"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Person?new=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 205,
            "text": "{\"company\":\"leancloud\",\"pname\":\"dennis\",\"createdAt\":\"2019-09-19T04:10:03.011Z\",\"updatedAt\":\"2019-09-19T04:10:03.011Z\",\"objectId\":\"5d82ff9bf40d3a0007541d05\",\"likes\":{\"__type\":\"Relation\",\"className\":\"Post\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Person/5d82ff9bf40d3a0007541d05"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 165,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
