{
  "log": {
    "_recordingName": "Queries/Query Constraints/containsAll with an large array should not cause URI too long",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "50be5c487157ea3a2aedacfd85ca269e",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "305a559aeafa3a71fb3cffdea71c896e,1568827988984"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"GET\",\"path\":\"/1.1/classes/GameScore\",\"params\":{\"where\":{\"arr\":{\"$all\":[\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"contains-all-test\",\"con[...]
