{
  "log": {
    "_recordingName": "User/Current User/currentAsync()",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f083b232583ad8178f9737c3a080464a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "79b4d3c5ae754ccbfde8b9a29c765dbf,1568873164662,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "47vn9wub7mqe5piw9ktd6d8tx"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"tester1\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22tester1%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ead05000a277c9e0e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 06:06:04.626 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 164,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
