{
  "log": {
    "_recordingName": "AV.Cloud/#getServerDate/should return a date.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "8155709efbda6b6b32cde46b6ec2d7c6",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "4h2h4okwiyn8b6cle0oig00vitayum8ephrlsvg7xo8o19ne"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "67204e7642ff21c258fe4ad334dfc0eb,1568868348587"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "null"
          },
          "queryString": [],
          "url": "https://api.leancloud.cn/1.1/date"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 140,
            "text": "[\"1f8b0800000000000003ab568a8f2fa92c4855b25272492c4955d251ca2cce07728c0c0c2d750d2c750d2d430c4cac4c4cad4c2cf4cc8ccca2946a016b66a42232000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 39,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
