{
  "log": {
    "_recordingName": "AV.Status/Query statuses./should not cause URI too long",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "e9b5645c11535692d47ddec592e37158",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "bc034ff672eee88ccd3807303a1205c3,1568883562851,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"StatusTest\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22StatusTest%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ead05000a277c9e0e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 08:59:22.827 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 167,
      },
      {
        "_id": "753bad444bfbe95a6ec1b0894e19da0e",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "6f09bcf21a5c91f2f2ce5a33893686ea,1568883563023"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"username\":\"StatusTest\",\"password\":\"StatusTest\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 234,
            "text": "{\"sessionToken\":\"58jfzflez3gptfwyv2qyotyer\",\"updatedAt\":\"2019-09-19T08:59:23.178Z\",\"objectId\":\"5d83436b9c9235000886cbdf\",\"username\":\"StatusTest\",\"createdAt\":\"2019-09-19T08:59:23.178Z\",\"emailVerified\":false,\"mobilePhoneVerified\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_User/5d83436b9c9235000886cbdf"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 174,
      },
      {
        "_id": "a23372005659e849de1549d7ba68b04e",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "c90ac196d478205b18c36501fb469c14,1568883563202"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "58jfzflez3gptfwyv2qyotyer"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"GET\",\"path\":\"/1.1/subscribe/statuses\",\"params\":{\"where\":{\"arr\":{\"$all\":[{\"__type\":\"Pointer\",\"className\":\"Todo\",\"objectId\":\"5850f138128fe1006978f766\"},{\"__type\":\"Pointer\",\"className\":\"Todo\",\"objectId\":\"5850f138128fe1006978f766\"},{\"__type\":\"Pointer\",\"className\":\"Todo\",\"objectId\":\"5850f138128fe1006978f766\"},{\"__type\":\"Pointer\",\"className\":\"Todo\",\"objectId\":\"5850f138128fe1006978f766\"},{\"__type\":\"Pointer\",\"className\":\"Todo\",\"objectId\":\"5850f138128fe1006978f766\"},{\"__type\":\"Pointer\",\"className\":\"Todo\",\"objectId\":\"5850f138128fe1006978f766\"[...]
