{
  "log": {
    "_recordingName": "Objects/Array Data/remove",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "858765a821700aaebb6fcd7ee00d409c",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "5f49feb0da283ac8df360543405cf430,1568831844405"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"data\":[1,2]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8279649c9235000886b6b7\",\"createdAt\":\"2019-09-18T18:37:24.551Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Post/5d8279649c9235000886b6b7"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 155,
      },
      {
        "_id": "a3a0b96f4baf971f1c9067d8d8737b2e",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "253409a844721e035a4a24298a3835de,1568831844564"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"data\":{\"__op\":\"Remove\",\"objects\":[2]}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post/5d8279649c9235000886b6b7"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 194,
            "text": "[\"1f8b08000000000000030dca291280300c00c0bf440393a647923a241e85a34d0d0644510c7f87d5fbc07dd9de9bcd1d32103a1d514727ab93ec39539898688301ce72b4da17fb573421d614b42af9888822a9a4c2f07ee0ebc73d4e000000\"][...]
