{
  "log": {
    "_recordingName": "Objects/Array Data/remove",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "c6d7e83dfa8d18b958c56c509dfbf5ad",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "3dd3611480ac2f8042e5bba0b34be6d4,1568868358223"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"data\":[1,2]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d830806f40d3a0007541da7\",\"createdAt\":\"2019-09-19T04:45:58.349Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Post/5d830806f40d3a0007541da7"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 145,
      },
      {
        "_id": "1af155950b17992ef31885104cec044c",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "aa7459676e97b4a37d906046b13a5178,1568868358372"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"data\":{\"__op\":\"Remove\",\"objects\":[2]}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post/5d830806f40d3a0007541da7"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 196,
            "text": "[\"1f8b08000000000000030dca2b1280300c05c0bb4453e6b54de8c721f1285c2145604014c5707758bd0fdd979656756c94c9c12683646c9ac199254becc5d9853a3ad7a36e6dd27f89468f886167a82f0082b0d512e8fd00f6bba4e74e000000\[...]
