{
  "log": {
    "_recordingName": "Queries/Query Constraints/include",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "3a9fbd2811f839b31975930b1d2afb19",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "39ea9d79a01cad8108dbedc6cb34e3ad,1568868370180"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/TestClass\",\"body\":{\"foo\":\"bar\"}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dcabd0e40301406d077b9b3cad71f4d6f37a3dd440cdcd66091684de2dd39f3991f2ab7482e85e243e77664a943a2485d0a16411b1636b60310821797766a48aebcd69cfafa3703cd0aac348f70d1f9a8d15af044efbb7c50d2f5685c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 147,
      },
      {
        "_id": "df4fad296ec20a7274bfc686f9f68bba",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "c419ccc0dec5230a9157f08501a990b7,1568868370331"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/GameScore\",\"body\":{\"playerName\":\"testname\",\"score\":1000,\"players\":[\"a\",\"b\"],\"test\":{\"__type\":\"Pointer\",\"className\":\"TestClass\",\"objectId\":\"5d8308129c9235000886c4df\"}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 220,
            "text": "[\"1f8b08000000000000030dcaab0ec3300c05d07f316eab9ba7ecb0c1f2a15503ab63525269c950d47f5f0f3edba0f653b5d6a80c3af7c3b4af950aa5ca01ecbca8f8900030678d069a48bff6e9561ffd6e1e4e66c8ece48958622e0e4be4f0a2eb7af[...]
