{
  "log": {
    "_recordingName": "Conversation/#broadcast/should broadcast a message to all clients with current conversation",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "7a404616c50a87f419d60cc5f8821844",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "456d80ece76756ee4800c81554f66a20,1569224675360"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"name\":\"test\",\"sys\":true}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_Conversation"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8877e353b36f00083ce255\",\"createdAt\":\"2019-09-23T07:44:35.506Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_Conversation/5d8877e353b36f00083ce255"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 159,
      },
      {
        "_id": "e1f07a65f60a5644e40b020462445887",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "94997cbdf7644b909356ba89bfcf4212,1569224675521,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"from_peer\":\"admin\",\"conv_id\":\"5d8877e353b36f00083ce255\",\"message\":\"test broadcast!\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/rtm/broadcast"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 194,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd2951b2aa56ca2d4ed7cd4c51b2522a4e8a2ff10a344b2bb6700fca28b408b40cf7cbcfc82f8b2a57d2512ac9cc4d2d2e49cc2d50b2323435b3343232313337353732aaad0500fcda5ca34b000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 232,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
