{
  "log": {
    "_recordingName": "Queries/Query Constraints/includeACL",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "3a9fbd2811f839b31975930b1d2afb19",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "7ebad6d9b9ea8582952983c33281fc06,1568868370832"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/TestClass\",\"body\":{\"foo\":\"bar\"}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dca311240301005d0bb6c8df92b41369d52af621464a3d09891a88cbbf3ea373f94ee10624ae41f3ab723863c28796ad41938ae770b352b80aeb1ac9b5041e18a6b8edae7bfd560292125cb08eb6deb1995746ea2f75d3eb72566a95c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 163,
      },
      {
        "_id": "b7fd79ba2188ecba2d51bdddc1bd7ad8",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "5fc0c13c2f80d258c59ac8a26e12b325,1568868370999"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/GameScore\",\"body\":{\"playerName\":\"testname\",\"score\":1000,\"players\":[\"a\",\"b\"],\"test\":{\"__type\":\"Pointer\",\"className\":\"TestClass\",\"objectId\":\"5d830812f40d3a0007541db9\"}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dca311240301005d0bb6c8df92b41924ea957318a241b85c68c4465dc9d57bff5a17cc7987226f7d0198e14cb24e4a813a36058ed1aa23c80a1d32cc15345f14abe2419cbdf5ab0ad616bb633b4d3bd636e5861a1f7dd3e7[...]
