{
  "log": {
    "_recordingName": "Objects/Deleting Objects/should delete object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "262f984883bc1277791f4aa371cc1afa",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "5ca7ad2e1e979e1a487b3fcdf957bc7f,1568868356423"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8308049c9235000886c4d1\",\"createdAt\":\"2019-09-19T04:45:56.572Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/GameScore/5d8308049c9235000886c4d1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 169,
      },
      {
        "_id": "9dbee41ab46373f203de82bd77a29c74",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "3268b9366b68c6105ab9cc7f85ed87b1,1568868356594"
            },
  [...]
