{
  "log": {
    "_recordingName": "Objects/Deleting Objects/should delete object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "d5d9fc8cf17958d2162ecaa5470b4d6d",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "8f3d09a42419d80e21fdc1f53b0336c3,1568827606775"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8268d69c9235000886b523\",\"createdAt\":\"2019-09-18T17:26:46.929Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/GameScore/5d8268d69c9235000886b523"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 165,
      },
      {
        "_id": "4b6e5d458f9411ae9bd9ad341409719b",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "78335a7eadca5cd7390892e7f46adecf,1568827606950"
            },
  [...]
