{
  "log": {
    "_recordingName": "Friendship/.request",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "78cb055f5bef47633f61ab03fccc7d13",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "4f23eeb4d02c43a30cee68244baeaa20,1577421062671"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "pijbhvhbq6noqi8sdaylrpby0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://95tnuaos.lc-cn-e1-shared.com/1.1/users/self/friendship/5e05890eff02830008f3a54c/request"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 196,
            "text": "[\"1f8b08000000000000030dca2b0e80301005c0bbaca6e46d3fb0ad43e251b8d26e058684d411ee0ea3e7a1eb38b5f4b552a2a00812a1adc18a0320cde5e095062ab7e6ae75e97fb3e068d81a3b6ff0c971628c13cb4eef07e21575874e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 107,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
