{
  "log": {
    "_recordingName": "User/existing user/Update user password/should update password",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f083b232583ad8178f9737c3a080464a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "9c3dba9d7c4b1210f90594e2487e8bc6,1568873171011,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "mxhjmobeltrepvnz58ikxqqjz"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"tester1\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22tester1%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 412,
            "text": "[\"1f8b08000000000000037d8eb18ec2301044ffc535416b27019c0acaebae385d01a270e23104d949641b0909f1ef6c68902890b69a79ab37771191ae3e27d11cee02c1f45e3422236544b9c5cd84c963d98d412cc475b226c3ee32138aa42e481752ffd1aae193b4d46bb9676c3a8f0318a9645d945a15a448713cb61774f9c77253db4d298d55ae225b1a225ad79574ad991d09713001ef111c76115fc57559cde2d7fa7fc4def5608d333e61214e182c227f3aee3d980b63db7bfcce333fe8c7f1f104819a683711010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 06:06:10.972 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 220,
      },
      {
        "_id": "501ea831b84467b7304f4e11e28528e7",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "a10dd856af67f99d748ef3e542b97a34,1568873171235,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "mxhjmobeltrepvnz58ikxqqjz"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User/5d831ad2f40d3a0007541fba"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 48,
            "text": "[\"1f8b0800000000000003abae050043bfa6a302000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "applicati[...]
