{
  "log": {
    "_recordingName": "User/User.signUp/should throw when required field missing",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f083b232583ad8178f9737c3a080464a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "3afcab315f710dbc341be8bcf21a5bb5,1568873161015,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "qd6al1tqahfrjmnb4mn2tijlm"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"tester1\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22tester1%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 406,
            "text": "[\"1f8b08000000000000038d8eb18ac3301044ff45756c56722c2c5797325d8a90e28e148a34be73906c23297010f2efb74e134875b0d5cc5bdedc4542be859245ff751788760ca21705b920c90ffcdab804d46e8e62236e8bb7057e579850244d45a692e648ba5f8f6aa3f52763cbcf3c8191ad6cabc6a88a14298ee7cb15aeec3d37adef1a695d679c514d4b445da79d36727564a4c946bc4670e812fe237eae3f218dc308d60c36646cc437268fc49f03f701ccc5f932061cd6996ff4e3fcf8034c69746b11010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 06:06:00.968 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 179,
      },
      {
        "_id": "754b3905d9c4d4afdaec7c00599b8ce1",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "c0cb9e994a60f2f8d20fd64c24b5b53c,1568873161201,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "qd6al1tqahfrjmnb4mn2tijlm"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User/5d831ac89c9235000886c691"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 48,
            "text": "[\"1f8b0800000000000003abae050043bfa6a302000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 184,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
