{
  "log": {
    "_recordingName": "Objects/#Saving Objects/should create a User",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "5c31f9e833bc2a11932a98bafa13ddfc",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "0a167fd5416a9e71bc69bbac267130ad,1568828070723"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"username\":\"u0.7328641857419294\",\"password\":\"11111111\",\"email\":\"u0.7328641857419294@test.com\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 282,
            "text": "{\"email\":\"u0.7328641857419294@test.com\",\"sessionToken\":\"ylkeoe9to5sdam7iudn54i3ei\",\"updatedAt\":\"2019-09-18T17:34:30.920Z\",\"objectId\":\"5d826aa69c9235000886b551\",\"username\":\"u0.7328641857419294\",\"createdAt\":\"2019-09-18T17:34:30.920Z\",\"emailVerified\":false,\"mobilePhoneVerified\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_User/5d826aa69c9235000886b551"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 212,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
