{
  "log": {
    "_recordingName": "Objects/#Saving Objects/should create a User",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "32d979a4f244f0003a532d1d82710297",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "853ee9ece3f30fcd10cb099abcd8c85a,1568831888696"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"username\":\"u0.6126524993161762\",\"password\":\"11111111\",\"email\":\"u0.6126524993161762@test.com\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 282,
            "text": "{\"email\":\"u0.6126524993161762@test.com\",\"sessionToken\":\"nm2o4w4o1vsstjz3g6eekzm7c\",\"updatedAt\":\"2019-09-18T18:38:08.859Z\",\"objectId\":\"5d827990f40d3a0007540df3\",\"username\":\"u0.6126524993161762\",\"createdAt\":\"2019-09-18T18:38:08.859Z\",\"emailVerified\":false,\"mobilePhoneVerified\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_User/5d827990f40d3a0007540df3"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 171,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
