{
  "log": {
    "_recordingName": "Objects/#Saving Objects/should create a User",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "59e191ba549103730f47e6c9212d1fa2",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "db7e24ce3cf818f1aa9f0ba0eda8bc41,1568868354113,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"unique_name\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22unique_name%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ead05000a277c9e0e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 04:31:10.230 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 228,
      },
      {
        "_id": "772e072af6e9af119fa4d1fb56fa803e",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "36cd25bd9b5894189cf515f10c9a2228,1568868354345"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"username\":\"unique_name\",\"password\":\"11111111\",\"email\":\"uique_name@test.com\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 265,
            "text": "{\"email\":\"uique_name@test.com\",\"sessionToken\":\"xulbaw8kmdov9lsrabmm37h1v\",\"updatedAt\":\"2019-09-19T04:45:54.514Z\",\"objectId\":\"5d8308029c9235000886c4d0\",\"username\":\"unique_name\",\"createdAt\":\"2019-09-19T04:45:54.514Z\",\"emailVerified\":false,\"mobilePhoneVerified\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_User/5d8308029c9235000886c4d0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 194,
      },
      {
        "_id": "1e75c29b61c2d4d91884c0ca9a409d2f",
        "request": {
         [...]
