{
  "log": {
    "_recordingName": "Objects/#Saving Objects/should create a User",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "fb1acd48b0791abdc0f8e75a6c2f4fee",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "3092fd60d1543f8bea9852926e6b37a9,1568866195880"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"username\":\"u0.7302955963606992\",\"password\":\"11111111\",\"email\":\"u0.7302955963606992@test.com\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 282,
            "text": "{\"email\":\"u0.7302955963606992@test.com\",\"sessionToken\":\"6lzs4d2wxxvk3yscxhl8syyd4\",\"updatedAt\":\"2019-09-19T04:09:56.036Z\",\"objectId\":\"5d82ff94f40d3a0007541d02\",\"username\":\"u0.7302955963606992\",\"createdAt\":\"2019-09-19T04:09:56.036Z\",\"emailVerified\":false,\"mobilePhoneVerified\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_User/5d82ff94f40d3a0007541d02"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 171,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
