{
  "log": {
    "_recordingName": "Objects/#Saving Objects/should create a User",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "7306cb7c3f95f3f571f34a2859974bb1",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "f090ba1e2cc780f8a5d8560387fc0dd6,1568867469580,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"unique_name\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22unique_name%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 356,
            "text": "[\"1f8b08000000000000038d8eb10ec2201445ffe5cdb581d236d049473707e3a03186c26bc44051a053d37f973a383899dced9edc73670818279b22749719d04963a183c9bc26bc8dd2e136614ca5f20e0a989e5a26d4bb94898a50b1216243c591d41de539256be83963be7fa04a7b9da9467346289742898a358410ce5b55b76c1d8b1856c16a1bbfba5ca880ff583e574f18cc6030ab06692316e07c6f2c1eee7ec49f6eb92e6f627d8a01ec000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 04:18:18.352 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 161,
      },
      {
        "_id": "83b30513a88966e9753438c0ec13cbb9",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "59aa8431e09ade7f8dc92d19c18a3abd,1568867469748,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User/5d83018a9c9235000886c463"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 48,
            "text": "[\"1f8b0800000000000003abae050043bfa6a302000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "applicati[...]
