{
  "log": {
    "_recordingName": "Objects/#Saving Objects/should crate a Object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "88fd41fed2e4fcf2ef5334a4e98e8d88",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "eb9725b39ac06169696174749e76cb29,1568866195548"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"title\":\"post1\",\"content\":\"Where should we go for lunch?\",\"geo\":{\"__type\":\"GeoPoint\",\"latitude\":80.01,\"longitude\":-30.01}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d82ff939c9235000886c41e\",\"createdAt\":\"2019-09-19T04:09:55.682Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Post/5d82ff939c9235000886c41e"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 151,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
