{
  "log": {
    "_recordingName": "Objects/#Saving Objects/should crate a Object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "8b2d85a41340a697f574b460fc7a1888",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "appId",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            }
          ],
          "url": "https://app-router.leancloud.cn/2/route?appId=95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 279,
            "text": "{\"ttl\":3600,\"stats_server\":\"95tnuaos.stats.lncldapi.com\",\"rtm_router_server\":\"95tnuaos.rtm.lncldapi.com\",\"push_server\":\"95tnuaos.push.lncldapi.com\",\"play_server\":\"95tnuaos.play.lncldapi.com\",\"engine_server\":\"95tnuaos.engine.lncldapi.com\",\"api_server\":\"95tnuaos.api.lncldapi.com\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 66,
      },
      {
        "_id": "ba0624f6aaf487ecdb75caa36aa50bfa",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "2240ae225d24772132f002cd239b9998,1568827604637"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"title\":\"post1\",\"content\":\"Where should we go for lunch?\",\"geo\":{\"__type\":\"GeoPoint\",\"latitude\":80.01,\"longitude\":-30.01}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8268d4f40d3a0007540c42\",\"createdAt\":\"2019-09-18T17:26:44.832Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Post/5d8268d4f40d3a0007540c42"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 202,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
