{
  "log": {
    "_recordingName": "hooks/Object#save (new object) disableBeforeHook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "7b45f46e41aa902a6b46426a0749e392",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "29b5ca3acd8df017187fd9b878d99e07,1568831836380"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"title\":\"test\",\"__ignore_hooks\":[\"beforeSave\",\"beforeUpdate\",\"beforeDelete\"]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/IgnoreHookTest"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d82795cf40d3a0007540dc7\",\"createdAt\":\"2019-09-18T18:37:16.536Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/IgnoreHookTest/5d82795cf40d3a0007540dc7"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 167,
      },
      {
        "_id": "c95df1ccd6ea2afa3f804bb6ac38d3b3",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "9ae5fc31eb8c35c3c0d9ae2ea243d3fe,1568831836550"
            },
  [...]
