{
  "log": {
    "_recordingName": "User/refreshSessionToken/User#refreshSessionToken",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f083b232583ad8178f9737c3a080464a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "38194f00bdc65ef1598a5601c12583c4,1568873183957,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "qcd3gg7sjar5lp574t08womd0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"tester1\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22tester1%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ead05000a277c9e0e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 06:06:23.928 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 201,
      },
      {
        "_id": "177a66456814dd5cc65a4702b3f6479c",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "7a92a9778829e8ea57609e21c638b4c4,1568873184162"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "qcd3gg7sjar5lp574t08womd0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "null"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/users/5d8315def40d3a0007541f47/refreshSessionToken"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 264,
            "text": "[\"1f8b08000000000000030dcabd0e82301000e077b959cc5d7fa065636467722bdc11d148d1163431bebb4dbef1fbc2be71c8c25d86161492afd057e407acdb4299b346778113c4f12653eeb92ccb4e9365990db20e88d85843b369ca4a92d212d721de652d9396479ddc445b7809bf8fcf3e9aa0c2f3aae0f707b15d678479000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 169,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
