{
  "log": {
    "_recordingName": "User/User#getRoles/Should get the current user's role",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f083b232583ad8178f9737c3a080464a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "73aa01d3beda52dec74ef3ba17335fa4,1568873175270,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "3rwhurxiph33jn8x4yp8df7qm"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"tester1\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22tester1%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 402,
            "text": "[\"1f8b08000000000000038d8e3d0bc2301445ff4b665b92f483a4938e6e0ee2a038c4e4562b495b920882f8df7dba084ec29bee3d8f731f2c22dd7c4eac3b3c1882193ceb5846ca886289bb09b34769a7c016ec363b93e1569908c9852eb82e84def2b6a31375a9aa7a4fd87c994610528ba6a8b42cb8e492e2e97485cd6b474de354258c6bb5d5b26a38e74ab5b6d5eaed4888a309f88ea0d046fc23feacdf210efd00d2f4c6272cd819a343a4cf9e7a0fe2c2741a3c36ef993ff4f3f87c018188b0cc11010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 06:06:14.836 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 273,
      },
      {
        "_id": "20bdf280bfbb5d92c68d61f984e87681",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "418bc5d5564be43ca641020fb44e3a64,1568873175547,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "3rwhurxiph33jn8x4yp8df7qm"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User/5d831ad69c9235000886c698"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 48,
            "text": "[\"1f8b0800000000000003abae050043bfa6a302000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "applicati[...]
