{
  "log": {
    "_recordingName": "hooks/Object#save (update object) disableAfterHook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "330039e00bb77b0bbd1ccdb72761a836",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "9dcd249ad53226b62fc339a5b0e5b441,1568831837633"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"title\":\"test\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/IgnoreHookTest"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d82795d9c9235000886b6ae\",\"createdAt\":\"2019-09-18T18:37:17.788Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/IgnoreHookTest/5d82795d9c9235000886b6ae"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 164,
      },
      {
        "_id": "5ace1fa864c287404e2d18b2308562bf",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "7c61201b1349651a540706a33b4fedb8,1568831837800"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"title\":\"something\",\"__ignore_hooks\":[\"afterSave\",\"afterUpdate\",\"afterDelete\"]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/IgnoreHookTest/5d82795d9c9235000886b6ae"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 194,
            "text": "[\"1f8b08000000000000030dcaa11280200c00d07f59166f831b6c34a3dd640346b168c0e4f9effaf27be0beac8c6ecb800c1e491daa23d948724899d2ac127798e0ac476f63b5[...]
