{
  "log": {
    "_recordingName": "Objects/Relational Data/should query relational data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "7ab232dc9fd954ecd98881fcfd942e24",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "0dc176ea6672f5cd3446a87795159d37,1568866202038"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Person?where=%7B%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 372,
            "text": "[\"1f8b08000000000000035dcebd0e82301405e077b933905bfe2cdd1c5d8c314e1a436a7b3568a184968110deddebea7672ce379c15260ab38b01d46d05e3fb510f0b2870a407e3fc6c2101fd225005266026d291ec3e32c85134295669de5c50a87ca78a3a93657e653f8ff68f35a960562a810a45260bfc31ff78938907cbaa3264095156d23c4b899c2c3552d6ac5cf7213eb742dbc665e4237026a763e7071e8dd3211c75ffab4f3e44d8b6fbf605305476e3d3000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 04:10:02.019 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 166,
      },
      {
        "_id": "7bc7764aabf0e61348c05e4f9b70fbe8",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "5b2d9673ee4c2fea9aeb2b8134d8baaf,1568866202208"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"$relatedTo\":{\"object\":{\"__type\":\"Pointer\",\"className\":\"Person\",\"objectId\":\"5cede00858cf480008de9886\"},\"key\":\"likes\"}}"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post?where=%7B%22%24relatedTo%22%3A%7B%22object%22%3A%7B%22__type%22%3A%22Pointer%22%2C%22className%22%3A%22Person%22%2C%22objectId%22%3A%225cede00858cf480008de9886%22%7D%2C%22key%22%3A%22likes%22%7D%7D"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ead05000a277c9e0e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 04:10:00.614 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 168,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
