{
  "log": {
    "_recordingName": "Objects/Relational Data/should query relational data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "3060e02e0b9b1d6ae03eaa9404af50de",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "f3bdf6c1b4f47800f42f6b73867357c6,1568827611404"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Person?where=%7B%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 372,
            "text": "[\"1f8b08000000000000035dce3d0f82301485e1ff7267202d503eba39ba18639834865cdaab410b25b40c84f0df2dabeb39cff06e30935b8c77201f1b283b4c38ae20c1108ecad8454304f82690198b40cd849ef4c90790325ec74cc4bc6c3893bc94799ae465760f7e99f41fab635e35c1a485143c49797530db7d48f9b30e4a284d15e6050a7a89923156651d09a4a04cffa510b741dbfa750a21702383beb763389541e72e381cf3d53a0ffbfedc7fde3fcd99d3000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 18 Sep 2019 17:26:51.386 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 166,
      },
      {
        "_id": "3481854ff02f03111d9ff2b7d7a7a670",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "5ada910876d8779328c60686ca1eebc2,1568827611574"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"$relatedTo\":{\"object\":{\"__type\":\"Pointer\",\"className\":\"Person\",\"objectId\":\"5cde8a46a5ef5700083be5ae\"},\"key\":\"likes\"}}"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post?where=%7B%22%24relatedTo%22%3A%7B%22object%22%3A%7B%22__type%22%3A%22Pointer%22%2C%22className%22%3A%22Person%22%2C%22objectId%22%3A%225cde8a46a5ef5700083be5ae%22%7D%2C%22key%22%3A%22likes%22%7D%7D"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ead05000a277c9e0e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 18 Sep 2019 17:26:50.052 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 174,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
