{
  "log": {
    "_recordingName": "Objects/Relational Data/should compatible with previous include option of fetch",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "dab8d4876239041fe39731703dca36d9",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "58dead499d22e6932e06eedcda8865df,1568868362533"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Person\",\"body\":{\"name\":\"1\"}},{\"method\":\"POST\",\"path\":\"/1.1/classes/Person\",\"body\":{\"name\":\"2\"}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 244,
            "text": "[\"1f8b080000000000000395cc3b0e83301005c0bb6c8dd13318ffba94f454a0148e77296822c54e85b83bc90da01fcdb253f9e62ca550dce9fdda24d79129d2c0be87475a0db84f00dc603427a686f24752157ed41feba08342503a4c30d1d888aeb5d6cd741ccdcd5aaed4cefeebe709a0809fb4b7000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 162,
      },
      {
        "_id": "0873d8f00fdc7bc92f9d5ef1282dc995",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "55a51c2f98cd0136c43ea41398892c28,1568868362698"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Post\",\"body\":{\"author1\":{\"__type\":\"Pointer\",\"className\":\"Person\",\"objectId\":\"5d83080af40d3a0007541dad\"},\"author2\":{\"__type\":\"Pointer\",\"className\":\"Person\",\"objectId\":\"5d83080af40d3a0007541dae\"}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dcaad0e80201406d077b959ddc79f02cd6837e90cc8c56071134ccc77d793cf5a293f31a69cc957baf633c5323179326c152cc2a1c12a00188[...]
