{
  "log": {
    "_recordingName": "Objects/Relational Data/should compatible with previous include option of fetch",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "b9a212b5aaf974d2a08a2c217c919321",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "529146bc6302c11feda49f1e26f3f15a,1568866203565"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Person\",\"body\":{\"name\":\"1\"}},{\"method\":\"POST\",\"path\":\"/1.1/classes/Person\",\"body\":{\"name\":\"2\"}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 244,
            "text": "[\"1f8b080000000000000395cc310e83300c05d0bb7806f40da1a9b33176ef04ea10e264e88244c284b83bed0d607f7ad34e790b21e64c6ea765fec6505e4a8e7a7db629c99c0cb4f3006c6f5821545158a32f5187f2632d586a48cdf286710c87aeb1b0231d4775b3f6576a7efcebcf09214bedc9b7000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 166,
      },
      {
        "_id": "42d23c19d926e8ed5033107f11100b92",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "dadfb10318baf35e8f2527fd708620ea,1568866203737"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Post\",\"body\":{\"author1\":{\"__type\":\"Pointer\",\"className\":\"Person\",\"objectId\":\"5d82ff9bf40d3a0007541d09\"},\"author2\":{\"__type\":\"Pointer\",\"className\":\"Person\",\"objectId\":\"5d82ff9bf40d3a0007541d0a\"}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dcaa10e80201405d07f7959dc05610acd6837e90cc0836071134ccc7fd793cfdea83c31a652c835bac299625d981c199e54ce36640d1e3c80d[...]
