{
  "log": {
    "_recordingName": "Objects/Relational Data/should compatible with previous include option of fetch",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "5d5cb8c6536254d113723647615c501b",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "69583a79e0725725d62319a6ef9b71de,1568827612939"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Person\",\"body\":{\"name\":\"1\"}},{\"method\":\"POST\",\"path\":\"/1.1/classes/Person\",\"body\":{\"name\":\"2\"}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 242,
            "text": "[\"1f8b080000000000000395cc2b0e84301000d0bb8c063253faa30e8947b141c04c1118125a54c3dd77b901eb5fdea740ba98634a100a1ceb1e390f02018c7865bdc8a651da05119dd1c87a850af88c4b8ed2e71f53485d8d5d4d7e2417940da66d08ed04f75dfd59f39b9adc53cf5fac5656bdb7000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 191,
      },
      {
        "_id": "32a62625a6aef5af63999eae880d540a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "fd8624746bcee455b591d8de0d26f783,1568827613134"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Post\",\"body\":{\"author1\":{\"__type\":\"Pointer\",\"className\":\"Person\",\"objectId\":\"5d8268ddf40d3a0007540c4b\"},\"author2\":{\"__type\":\"Pointer\",\"className\":\"Person\",\"objectId\":\"5d8268ddf40d3a0007540c4c\"}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dca210e80300c00c0bf5403e94a36da39241e0541b0760643c28622fc1d4edffa40b9557329101f38d391b54e0611bc3105361315ea3d22328[...]
