{
  "log": {
    "_recordingName": "User/User loginAnonymously/create an anonymous user, and then associateWithAuthData",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f083b232583ad8178f9737c3a080464a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "fb3f51681e893387a040d3de77e2a34e,1568875569597,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "3rwhurxiph33jn8x4yp8df7qm"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"tester1\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22tester1%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ead05000a277c9e0e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 06:39:07.829 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 176,
      },
      {
        "_id": "60d6a58467b7cd698ae678a900af5dba",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "2fbfa5efdc6218a770f72278afd08785,1568875569777"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "3rwhurxiph33jn8x4yp8df7qm"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"authData\":{\"anonymous\":{\"id\":\"1b671a64-40d5-491e-99b0-da01ff1f3341\"}}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 320,
            "text": "{\"sessionToken\":\"uld5kdeoyhb34ig8qy5s91fbd\",\"updatedAt\":\"2019-09-19T06:46:09.932Z\",\"objectId\":\"5d8324319c9235000886c704\",\"username\":\"pq2oq6yteseefa71h46am0t9c\",\"createdAt\":\"2019-09-19T06:46:09.932Z\",\"emailVerified\":false,\"authData\":{\"anonymous\":{\"id\":\"1b671a64-40d5-491e-99b0-da01ff1f3341\"}},\"mobilePhoneVerified\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_User/5d8324319c9235000886c704"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 183,
      },
      {
        "_id": "be6c6d9d6ae7aa3788c9c5775e736cdf",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "780543e3dcfa86981909e7cc98948e98,1568875569967"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "uld5kdeoyhb34ig8qy5s91fbd"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"authData\":{\"github\":{\"uid\":\"justsomerandomstring\",\"access_token\":\"access_token\"}}}"
          },
          "queryString": [
            {
              "name": "new",
              "value": "true"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User/5d8324319c9235000886c704?new=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 306,
            "text": "[\"1f8b0800000000000003558cb10e83201445ffe5cdda3c4429b035e9d2bd53970681283[...]
