{
  "log": {
    "_recordingName": "User/authenticated/isAuthenticated/user.isAuthenticated()",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f083b232583ad8178f9737c3a080464a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "5c81444acd7afe4ddf49ae3faaa93414,1568873166690,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "1j56unqejty9po9xqfpfx26jl"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"tester1\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22tester1%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 400,
            "text": "[\"1f8b08000000000000038d8e3d0bc2301445ff4be6b624e9074d271ddd1cc4417188c9ad5692b6241104e97ff7e92238096fbaf73cce7db280787729b2eef864f07a70ac6309312188151edacf0e85993ccbd87db63ac1ae1311920b9573950bb5e34df7b94256e581b0f93a8d20a412755e2a9973c925c5d3f9069336969adab6a5d006ca2859d69cf3b66d4ca3eab723228cdae33b824213f08ff8b37e8f30f40348d36b1791b10b468b409f3df50ec4f9e93c386cdf337fe8e5b4bc004826419e11010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 06:06:06.244 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 176,
      },
      {
        "_id": "d73a38620e37dab577a85abd7ec0e7f9",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "181929afb2299ca76756dd15f52c0be3,1568873166869,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "1j56unqejty9po9xqfpfx26jl"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User/5d831ace9c9235000886c695"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 48,
            "text": "[\"1f8b0800000000000003abae050043bfa6a302000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "applicati[...]
