{
  "log": {
    "_recordingName": "Queries/Query Constraints/basic",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "3a9fbd2811f839b31975930b1d2afb19",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "af84775b5a24e94d8eccb9e7d704ae03,1568868366280"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/TestClass\",\"body\":{\"foo\":\"bar\"}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dcaa10e80201006e077b9acee07817134a3dda433e871c5e226989cefae5ffe9687ca2da2a5507ae8dc0f953a664ae473ec11a12c6c7b0f20c6202e333524976e55f350ff6661b805b78627b8e44242e89cf133bdeffa01151e85755c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 154,
      },
      {
        "_id": "5b8b64d2a2add0bef8310264a54673ea",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "58c661de1dd9c624d4995fca89753761,1568868366437"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/GameScore\",\"body\":{\"playerName\":\"testname\",\"score\":1000,\"players\":[\"a\",\"b\"],\"test\":{\"__type\":\"Pointer\",\"className\":\"TestClass\",\"objectId\":\"5d83080e9c9235000886c4d9\"}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 218,
            "text": "[\"1f8b08000000000000030dca311240301005d0bb6c8df9910449a7d4ab1845925d85c68c4465dc9d57bff5a17ca72439937fe88c87a4323179b23c680c90dd807500d05ba3386aaa285d128af058fed642b91aae566e86f1a6f3e81adbbb85de77fb0[...]
