{
  "log": {
    "_recordingName": "Conversation/#send/should send a realtime message to the system conversation",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "67c7b9581867585c2041efdeb815b444",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "74b4c7249868d2d906a05324881626fa,1569224675022"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"name\":\"system\",\"sys\":true}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_Conversation"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8877e342e5e4000887b4de\",\"createdAt\":\"2019-09-23T07:44:35.164Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_Conversation/5d8877e342e5e4000887b4de"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 164,
      },
      {
        "_id": "989e97106e90d88ae9715a63f0dad56a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "65d5dd35c9370c494f00b7c20fbc5091,1569224675189,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"from_peer\":\"admin\",\"conv_id\":\"5d8877e342e5e4000887b4de\",\"transient\":false,\"message\":\"test system conversation !\",\"to_peers\":[\"user1\",\"user2\"]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/rtm/messages"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 188,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd2951b2aa56ca2d4ed7cd4c51b2520a2e4c0f370c2dcb09f489740e36af4cf30d4bce33cf50d2512ac9cc4d2d2e49cc2d50b2323435b3343232313337353631abad0500fad56ca748000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 163,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
