{
  "log": {
    "_recordingName": "User/Current User/current()",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f083b232583ad8178f9737c3a080464a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "0cf589fdf0aae4e51be3a0d2cfe5f84e,1568873164333,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "47vn9wub7mqe5piw9ktd6d8tx"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"tester1\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22tester1%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 404,
            "text": "[\"1f8b08000000000000038d8eb16e84301044ffc535a0b58110a82e65ba14518a44298c3dce11d9806c234542fc7b966b4e4a1569ab99b77ab38b88b4f99cc4f0b10b043d7931888c9411e5053f3aac1e95598228c4b65a9d619f32138a645f525fcafe951e86f39a8a947a676cbd2e331869645bd6bd2a4991e27819bf61f2b3e5a6b58fb5d4c6b8866cad89a86b1be9c6ee7424c45907dc47706822fe23bead7f439cdc04d638ed130af185d922f2a7e3de83b9b08c93c7cb39f30f7d7c1ebfb9f7b33b11010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 06:06:04.023 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 147,
      },
      {
        "_id": "17d39f644a9926223d31cf69ca8a40db",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "489c14a27c21d034d0a9d06e7b313a3e,1568873164483,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "47vn9wub7mqe5piw9ktd6d8tx"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User/5d831accf40d3a0007541fb7"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 48,
            "text": "[\"1f8b0800000000000003abae050043bfa6a302000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 171,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
