{
  "log": {
    "_recordingName": "AV.Status/Query statuses./should return unread count.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "e9b5645c11535692d47ddec592e37158",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "dac8b4f84dc63aeb9996964eb8bd2415,1568883556741,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"StatusTest\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22StatusTest%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ead05000a277c9e0e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 08:59:16.714 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 461,
      },
      {
        "_id": "753bad444bfbe95a6ec1b0894e19da0e",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "d34c01e9ccf5ad1df94564855679b117,1568883557208"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"username\":\"StatusTest\",\"password\":\"StatusTest\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 234,
            "text": "{\"sessionToken\":\"xwsf068rskxorhfhrx66r1h9h\",\"updatedAt\":\"2019-09-19T08:59:17.553Z\",\"objectId\":\"5d834365f40d3a0007542628\",\"username\":\"StatusTest\",\"createdAt\":\"2019-09-19T08:59:17.553Z\",\"emailVerified\":false,\"mobilePhoneVerified\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_User/5d834365f40d3a0007542628"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 361,
      },
      {
        "_id": "c3bb8a05f81a0e23cdebf339936fe04d",
        "request": {
         [...]
