{
  "log": {
    "_recordingName": "Objects/Array Data/accept array param",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "654f0df40813c0195d3e5fe8d4054bc6",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "b9059798d0d566d9150fe351b4afbf3e,1568827609250"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"data\":[1,2]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8268d99c9235000886b526\",\"createdAt\":\"2019-09-18T17:26:49.376Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Post/5d8268d99c9235000886b526"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 145,
      },
      {
        "_id": "11e76bfd606e4ce467544fd7ed0220a2",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "b812b974fe144be65870f568a539d466,1568827609398"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"data\":{\"__op\":\"Remove\",\"objects\":[2]}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post/5d8268d99c9235000886b526"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 192,
            "text": "[\"1f8b08000000000000030dcaa11680300800c07f213b1f43415833da4d3637562c1a66f2f9ef7af91eb82fdf5bf5b94102c268012d445de39448d2683db36ed0c1998f5adae2ff62571275b362343022aa4a6612783fc445ee504e000000\"]"
[...]
