{
  "log": {
    "_recordingName": "User/User.signUp/should sign up",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f083b232583ad8178f9737c3a080464a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "08a43f42ab44b8429776a13f697a2f06,1568873160568,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"tester1\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22tester1%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ead05000a277c9e0e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 06:01:01.790 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 214,
      },
      {
        "_id": "b05b3d6f87b19df5f66e71843ca7f53c",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "bb40c38b44d078295f5a46ff27ff3306,1568873160803"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"username\":\"tester1\",\"password\":\"password1\",\"email\":\"tester1@example.com\",\"gender\":\"female\",\"phone\":\"415-392-0202\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 302,
            "text": "{\"email\":\"tester1@example.com\",\"sessionToken\":\"qd6al1tqahfrjmnb4mn2tijlm\",\"updatedAt\":\"2019-09-19T06:06:00.966Z\",\"phone\":\"415-392-0202\",\"objectId\":\"5d831ac89c9235000886c691\",\"username\":\"tester1\",\"createdAt\":\"2019-09-19T06:06:00.966Z\",\"emailVerified\":false,\"gender\":\"female\",\"mobilePhoneVerified\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_User/5d831ac89c9235000886c691"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 193,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
