{
  "log": {
    "_recordingName": "Leaderboard/query",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "1460a17a72ea020d4757eaa4502de50f",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "ade7772f3a8b4aaad5fa6b6ee6590f43,1568881498884,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"statisticName\":\"score_board\",\"order\":\"ascending\",\"versionChangeInterval\":\"week\",\"updateStrategy\":\"better\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/leaderboard/leaderboards"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 472,
            "text": "[\"1f8b08000000000000038d903f6f02310cc5bf8b6740be3bd25eb2556561e952269653fe58d7d0929c12f75a84f8ee3588b103521429cfbf3c3ffb0cdf53b04cef5ce41e4f60c01133155880f51c6751c30b8339c330f069220136a24939d62c8f161bbd44bd6cf40e7bd3ae8dd22b91f67059dcad6fdfffe75adc8b517607f2bc0d42a9d0779d53aee9f4b35288d8af35a95e09e50b3d6256d972ac1cfd9b3d5ec3569f0b0d2edb12a43a53a931a7d70f9b46da269973b65f42fd107d5e939420931bb0d5530a318da2d1ef14cb633b68db5df36410e5ac24fb6d07f78e60f0f207906fcb226c010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 151,
      },
      {
        "_id": "f8deca8d8acd83de0d1445f0959c29ed",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "appId",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            }
          ],
          "url": "https://app-router.leancloud.cn/2/route?appId=95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 279,
            "text": "{\"ttl\":3600,\"stats_server\":\"95tnuaos.stats.lncldapi.com\",\"rtm_router_server\":\"95tnuaos.rtm.lncldapi.com\",\"push_server\":\"95tnuaos.push.lncldapi.com\",\"play_server\":\"95tnuaos.play.lncldapi.com\",\"engine_server\":\"95tnuaos.engine.lncldapi.com\",\"api_server\":\"95tnuaos.api.lncldapi.com\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1053,
      },
      {
        "_id": "54b417561232bafd5d8e3ca229e4a0fc",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9[...]
