{
  "log": {
    "_recordingName": "Objects/Array Data/add",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "858765a821700aaebb6fcd7ee00d409c",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "75a2c24876798f23e3ae3c779d40e245,1568831843068"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"data\":[1,2]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8279639c9235000886b6b6\",\"createdAt\":\"2019-09-18T18:37:23.237Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Post/5d8279639c9235000886b6b6"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 178,
      },
      {
        "_id": "b2020105e8bf5fdb10bafd5ef293a716",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "12e701342fe2735b3e7b65d9a8f0b8d6,1568831843249"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"data\":{\"__op\":\"Add\",\"objects\":[2]}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post/5d8279639c9235000886b6b6"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 192,
            "text": "[\"1f8b08000000000000030dcaa11280200c00d07f59166f6c021bcd6837d984512c1a3079febbdeabef81fbb2bd379b3b6420f4ea509d97d54be69489c709658301ce72b4da17fb5730a1a491b52a71404491587ef07e5e50f0b24e000000\"]"
[...]
