{
  "log": {
    "_recordingName": "Conversation/#save/should create a realtime conversation",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "96bb83faae305051090bdd7504d681b1",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "185cb5e09a5990209b80a9f4e08a1a08,1569224674526"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"name\":\"test\",\"m\":{\"__op\":\"Add\",\"objects\":[\"test1\",\"test2\"]}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_Conversation"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8877e253b36f00083ce254\",\"createdAt\":\"2019-09-23T07:44:34.665Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_Conversation/5d8877e253b36f00083ce254"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 161,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
