{
  "log": {
    "_recordingName": "AV.Status/Send status./should send  status to a female user.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "e9b5645c11535692d47ddec592e37158",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "75b41398496a9570d00e71e8c833bdd8,1568883555434,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"StatusTest\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22StatusTest%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ead05000a277c9e0e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 08:59:15.205 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165,
      },
      {
        "_id": "753bad444bfbe95a6ec1b0894e19da0e",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "a62fab36d23897352e43dd35407b3e6c,1568883555602"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"username\":\"StatusTest\",\"password\":\"StatusTest\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 234,
            "text": "{\"sessionToken\":\"f33oiclasr7njpk9o2inu49t2\",\"updatedAt\":\"2019-09-19T08:59:15.991Z\",\"objectId\":\"5d8343639c9235000886cb3a\",\"username\":\"StatusTest\",\"createdAt\":\"2019-09-19T08:59:15.991Z\",\"emailVerified\":false,\"mobilePhoneVerified\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_User/5d8343639c9235000886cb3a"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 410,
      },
      {
        "_id": "8d0cf27b36bf74f19496c3d133fedd4b",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "a6e0e8208ab90f80806a7a007a789631,1568883556017"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "f33oiclasr7njpk9o2inu49t2"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"query\":{\"where\":{\"gender\":\"female\"},\"className\":\"_User\"},\"data\":{\"image\":\"image url\",\"message\":\"message\",\"source\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"5d8343639c9235000886cb3a\"}},\"inboxType\":\"default\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/statuses"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8343649c9235000886cb47\",\"createdAt\":\"2019-09-19T08:59:16.173Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;ch[...]
