{
  "log": {
    "_recordingName": "Objects/Array Data/addUnique",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "858765a821700aaebb6fcd7ee00d409c",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "3fea1de235191d9fec0e84b5133def48,1568831843772"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"data\":[1,2]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d827963f40d3a0007540dd1\",\"createdAt\":\"2019-09-18T18:37:23.910Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Post/5d827963f40d3a0007540dd1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 149,
      },
      {
        "_id": "76945f5d2894fedd3cadef6f289f9e99",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "33d513434c10debb2c837762ed34b473,1568831843925"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"data\":{\"__op\":\"AddUnique\",\"objects\":[2]}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post/5d827963f40d3a0007540dd1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 194,
            "text": "[\"1f8b0800000000000003ab562a2d48492c494d712c51b252323230b4d435b0d435b40831b4b03236b73232d133b0308f52d251ca4fca4a4d2ef14c01aa324db13032b734334e333148314e343030303705b2520c956a01c6b2e9734e000000\"][...]
