{
  "log": {
    "_recordingName": "Objects/Array Data/addUnique",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "654f0df40813c0195d3e5fe8d4054bc6",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "9cbe8d40b056dcf59d8f76c827000566,1568827607948"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"data\":[1,2]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8268d89c9235000886b524\",\"createdAt\":\"2019-09-18T17:26:48.078Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/Post/5d8268d89c9235000886b524"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 147,
      },
      {
        "_id": "7b544597faaf7c55fbb2a0520cd2e085",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "7e0f9f2335db5ab3cc903867afa643dd,1568827608099"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"data\":{\"__op\":\"AddUnique\",\"objects\":[2]}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Post/5d8268d89c9235000886b524"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 194,
            "text": "[\"1f8b08000000000000030dca2b1680201005d0bd4c16cf307c7cd08c76934d188a4503268f7bd79bef43f7a57b6f3a77ca246c93e1642c563b6589d96314878d063acbd16a5ff45f4121118a5493b8c0cc402c413cbd1f141380644e000000\"][...]
