{
  "log": {
    "_recordingName": "Queries/Counts/should return num",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "0ca14ee0ffc7d9aa0479f544376d3197",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "62e93f013db512b07c0f7379843bb3fc,1568831855824"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"pname\":{\"$regex\":\"^\\\\Qp\\\\E\"}}"
            },
            {
              "name": "limit",
              "value": "0"
            },
            {
              "name": "count",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/Person?where=%7B%22pname%22%3A%7B%22%24regex%22%3A%22%5E%5C%5CQp%5C%5CE%22%7D%7D&limit=0&count=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 98,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ed5514ace2fcd2b51b232363737ab0500bf88f7db1b000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 18 Sep 2019 18:37:29.530 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 187,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
