{
  "log": {
    "_recordingName": "hooks/Object#save (new object) ignore afterSave",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "a814b33eb9e9093f5dc5410506066f8c",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "cbe842fb60cf2d05782937f637d216af,1568868349882"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"title\":\"test\",\"__ignore_hooks\":[\"afterSave\"]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/IgnoreHookTest"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8307fe9c9235000886c4c2\",\"createdAt\":\"2019-09-19T04:45:50.043Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/IgnoreHookTest/5d8307fe9c9235000886c4c2"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 179,
      },
      {
        "_id": "66451edfdc1220ad14a73b30cef2b826",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "bdf99ab1d488faf6b9de5e1f2f41d680,1568868350064"
            },
  [...]
