{
  "log": {
    "_recordingName": "Friendship/query/should get result",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "d72269118d35773ae41b5cfc25155555",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "9b2dc8437d8449336da3e796b314925e,1590827736382"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "0ba67iauprltp56736hjfom50"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"friend\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"5ed21ad9d5529d000945b0b5\"}}"
            }
          ],
          "url": "https://95tnuaos.lc-cn-e1-shared.com/1.1/classes/_FriendshipRequest?where=%7B%22friend%22%3A%7B%22__type%22%3A%22Pointer%22%2C%22className%22%3A%22_User%22%2C%22objectId%22%3A%225ed21ad9d5529d000945b0b5%22%7D%7D"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 360,
            "text": "[\"1f8b0800000000000003ad8eb10e82301040ffe5663067b106ba39ba18075d348614ee341804d25e0743f8778ba32e0eae2f2f2f6f04c73eb4e2c19c47089e1d9811ca529e0383817ddf74125902756bbddfd9c74ccba37fb3beba732d5b8a4833a9a5a582b456052162b1d215566b9812b8ba863bfa6b57cf5d2f56421c8721e69bee36d71c5b61da48a40a15a6a8d30c0f989b4c9b2c5f28959fa21606fa45fbfeb01f1f054c97e9057529bb1444010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 30 May 2020 08:35:38.229 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 119,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
