{
  "log": {
    "_recordingName": "hooks/Object#save (modify children)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "83bb96d9b30a768acef92a7baf0c6740",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "5cd744af59ed889d235c391ced43e5fa,1568866192961"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/IgnoreHookTest\",\"body\":{\"title\":\"test\",\"__ignore_hooks\":[\"beforeSave\",\"beforeUpdate\",\"beforeDelete\"]}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dca3b0e80200c00d0bb7456d3f23194cdd1dd49e3a005061713c18970777df3db2ae45724e60cbec27d5e51ca1cc0830d4ea5c4c4c24a5b44746e14430e3a90271e2586a9fc4d21718fdc132f683cb2b77a20a2155adb3f1a8dd4695c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 169,
      },
      {
        "_id": "fac6002b6bf88ca2a9231d590cb069fc",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "78cb2329aa36bbffca893cc0f1f25faa,1568866193134"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/IgnoreHookTest\",\"body\":{\"child1\":{\"__type\":\"Pointer\",\"className\":\"IgnoreHookTest\",\"objectId\":\"5d82ff919c9235000886c418\"},\"__ignore_hooks\":[\"afterSave\",\"afterUpdate\",\"afterDelete\"]}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dcaad0e80201000e077b92ceef81d4733da4d3a831e102c6e8289f1eefae56f6b505ee6540a8406f77925ae738400367a9533496252da[...]
