{
  "log": {
    "_recordingName": "hooks/Object#save (modify children)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "eb10fb9462d10bfcffd59f8970bd57c5",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "fbcafa2828cb6703a43a01d3a9721cbb,1568868351296"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/IgnoreHookTest\",\"body\":{\"title\":\"test\",\"__ignore_hooks\":[\"beforeSave\",\"beforeUpdate\",\"beforeDelete\"]}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 218,
            "text": "[\"1f8b08000000000000030dcaa11280200c00d07f59566fc8404633da4d7a061d102cde0926ce7fd797df5a213f223167f015aee38c52a6001e4c701a879458b8d706119db34262a101b9e35e6218cbdf7a54dc22b78a67244fc61bd511b905de77fb00e12bb87a5c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 174,
      },
      {
        "_id": "8fbc58d8419d90ebea0d999df72dc58f",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "34b94a63f7452b894e0614149934a992,1568868351474"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/IgnoreHookTest\",\"body\":{\"child1\":{\"__type\":\"Pointer\",\"className\":\"IgnoreHookTest\",\"objectId\":\"5d8307ff9c9235000886c4c6\"},\"__ignore_hooks\":[\"afterSave\",\"afterUpdate\",\"afterDelete\"]}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 218,
            "text": "[\"1f8b08000000000000030dca2b1280201000d0bb6c1667417e4b33da4d3a065d20589c114c0e77d797dffa4279985329105eb88e33719d220430d10fe872262635[...]
