{
  "log": {
    "_recordingName": "hooks/Object#save (modify children)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "023e6b3a255fa21f84639c328b53b746",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "493430147a0939a149eb4d87f046e39d,1568827828345"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/IgnoreHookTest\",\"body\":{\"title\":\"test\",\"__ignore_hooks\":[\"beforeSave\",\"beforeUpdate\",\"beforeDelete\"]}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dca2b0e80300c00d0bb5433d2fda09d43e2511004eb6630246ca885bbc3d36f6b501e915c0a8406573cb3d43941009fc80c1c1d0b1beb11916888de3ae840ee7cd49ca6fa37839a15b2d2b4e831580c867a477e85f7dd3fb0f53b595c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 156,
      },
      {
        "_id": "e1011652e62237a7f4c278b641a7f8f8",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "79a14aa22902a3a9025fe4aea8810a1d,1568827828503"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/IgnoreHookTest\",\"body\":{\"child1\":{\"__type\":\"Pointer\",\"className\":\"IgnoreHookTest\",\"objectId\":\"5d8269b49c9235000886b534\"},\"__ignore_hooks\":[\"afterSave\",\"afterUpdate\",\"afterDelete\"]}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dca290e80301000c0bfaca6647b1f0e89474110edb6080c092daae1ef307ab60ef5212ab542e870a5b3509b3304d0d909e3933a146619[...]
