{
  "log": {
    "_recordingName": "hooks/Object#save (modify children)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "089e3955e264f5db1a649f449e0b9cc5",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "647b7c4134d589585476e254f0269de6,1568831838167"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/IgnoreHookTest\",\"body\":{\"title\":\"test\",\"__ignore_hooks\":[\"beforeSave\",\"beforeUpdate\",\"beforeDelete\"]}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dcab11240300c00d07fc98c4bda2b4937a3ddc4194863b0b8d39a9c7fe7cd6f7e20dfaa9633c407ceed302d43820821b1eb2498a8381f1091b9ddda75870af4b2b558eacbdf1c92d42835f1481c7d17891b4f6e82f75d3e0de31e3d5c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 155,
      },
      {
        "_id": "38f1e96e82707f6c6d2afdfebe35aaac",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "a26809d49e20b519d13291557bc79ec0,1568831838326"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/IgnoreHookTest\",\"body\":{\"child1\":{\"__type\":\"Pointer\",\"className\":\"IgnoreHookTest\",\"objectId\":\"5d82795e9c9235000886b6af\"},\"__ignore_hooks\":[\"afterSave\",\"afterUpdate\",\"afterDelete\"]}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dcaa11280200c00d07f59566fa0c84633da4d7a06192b16ef0413e7bfebcb6fab901f11cd1942852b9e2a654e10c025b29e9db2b0ed1d[...]
