{
  "log": {
    "_recordingName": "Objects/Relational Data/should fetch include authors successfully",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "c65ec2e4b397f5b1b65cd31eb804bbf3",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "af453eec76b09bc3e6bd469ef5bd8d94,1568831848331"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Person\",\"body\":{\"name\":\"1\"}},{\"method\":\"POST\",\"path\":\"/1.1/classes/Person\",\"body\":{\"name\":\"2\"}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 242,
            "text": "[\"1f8b080000000000000395cc310e85200c00d0bb74565340b065737477d238486171f989e064bcbb7a83effef2e613f2219272067fc22f6c49ca10c1838da43b76c4c2da58442472c185152a903dad25c5be3c4ca3e21ab956342af2a6f39a9a96cd04d7557dacc31fb545fbd6cb0d61d539a8b7000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 185,
      },
      {
        "_id": "837e3e77838d6cb70e49246d0a0e7df8",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "696a55265f9ae63246141ee5b05ba9e0,1568831848520"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Post\",\"body\":{\"author1\":{\"__type\":\"Pointer\",\"className\":\"Person\",\"objectId\":\"5d8279689c9235000886b6ba\"},\"author2\":{\"__type\":\"Pointer\",\"className\":\"Person\",\"objectId\":\"5d8279689c9235000886b6bb\"}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dca310e80200c00c0bf7456536a8096cdd1dd49e32085c5c5447022fe5d6fbead4179547329101a5cf1cc5ae704016c62f2e2585468b488c8e[...]
