{
  "log": {
    "_recordingName": "Objects/Relational Data/should fetch include authors successfully",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "dab8d4876239041fe39731703dca36d9",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "f44b5ee32c06c1408e6967bbc1a8bd37,1568868362014"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Person\",\"body\":{\"name\":\"1\"}},{\"method\":\"POST\",\"path\":\"/1.1/classes/Person\",\"body\":{\"name\":\"2\"}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 242,
            "text": "[\"1f8b080000000000000395ccb10e83201006e077b959cd0f1e8463ebe8de49e3600f962e26854ec477b7be41ddbf7c4ba3f255cda5506cb4bfde59eb9428924b6144c0262a76740042f0cac95147fac95bcde9517fccc2480fe98d3cc1917d841d0cf34cc7d1ddacfd3fb5c755af27bd849ce6b7000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 170,
      },
      {
        "_id": "8ff98dbee4a767de88254cd612e8b782",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "b5f344a186524f23fdab9b06d7203e8d,1568868362187"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Post\",\"body\":{\"author1\":{\"__type\":\"Pointer\",\"className\":\"Person\",\"objectId\":\"5d83080a9c9235000886c4d5\"},\"author2\":{\"__type\":\"Pointer\",\"className\":\"Person\",\"objectId\":\"5d83080a9c9235000886c4d6\"}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 218,
            "text": "[\"1f8b08000000000000030dca2b0e80301005c0bbac06f2fae1d33a241e054194dd223024b428d2bbc3e8595f4a0f734c89fc4bd77e46ce9390a756068301e1b0101300f[...]
