{
  "log": {
    "_recordingName": "Objects/Updating Objects/should update prop",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f9d25fe502859025d6c1b0110f967942",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "28efbbed0fcedbce8dee94fe736921d8,1568866196224"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"score\":10000}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore/5d82ff939c9235000886c41f"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 196,
            "text": "[\"1f8b08000000000000030dca2b1680201005d0bd4c16cfe32b4323da4d366520583460f2b877bdf93e745fb2f52ab9532203cd0aac342f70099c7c18ede4561ae8dc8f5afa2cfff2124d6b6cb9b0b11e408ca138dde8fd00ffc221504e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 166,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
