{
  "log": {
    "_recordingName": "Objects/Updating Objects/should update prop",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "5d9598f9def5933fba2a7687ff4fca6f",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "1cc473c0ec680d92992583c10edaf103,1568827605454"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"score\":10000}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore/5d8268d5f40d3a0007540c43"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 194,
            "text": "[\"1f8b08000000000000030dcaa11680200c00c07f5916df800d18cd6837d99061b068c0e4f3dff5f23d705f5a7ad3a9430687560c8ab169b131bb908947165e6180733b5aedb3fe8b35b990947742f50511231356f2f07e828a52b94e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 157,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
