{
  "log": {
    "_recordingName": "Objects/#Saving Objects/should create another Object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "d4aca1a4d25ad6292fb6f625dc9bb3c9",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "ea8aab9a2e43b33df5e28d26a01ce2c9,1568866195706"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"score\":1111,\"playerName\":\"dd\",\"cheatMode\":false,\"arr\":[\"arr1\",\"arr2\"],\"id\":\"id\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d82ff939c9235000886c41f\",\"createdAt\":\"2019-09-19T04:09:55.843Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/GameScore/5d82ff939c9235000886c41f"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 151,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
