{
  "log": {
    "_recordingName": "Objects/#Saving Objects/should create another Object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "c36de57a76dd0b3e153407bc7e01f5a7",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "e8a9c209f9bca19182f3554da6d1611f,1568827604859"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"score\":1111,\"playerName\":\"dd\",\"cheatMode\":false,\"arr\":[\"arr1\",\"arr2\"],\"id\":\"id\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8268d5f40d3a0007540c43\",\"createdAt\":\"2019-09-18T17:26:45.024Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/GameScore/5d8268d5f40d3a0007540c43"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 177,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
