{
  "log": {
    "_recordingName": "Objects/#Saving Objects/should create another Object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "0a735249d63b37423c94ca4ffc0d982e",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "fdb5b18493401bc1e3da54db7009945c,1568868353911"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"score\":1111,\"playerName\":\"dd\",\"cheatMode\":false,\"arr\":[\"arr1\",\"arr2\"],\"id\":\"id\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8308029c9235000886c4cf\",\"createdAt\":\"2019-09-19T04:45:54.076Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/GameScore/5d8308029c9235000886c4cf"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 183,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
