{
  "log": {
    "_recordingName": "Objects/Bit operations/bit xor",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f6cdddab45920773271d2b265f4dd5b7",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "632b72a169b6f4382c3844f0ff7f238c,1568831850338"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"flags\":{\"__op\":\"BitXor\",\"value\":1}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d82796af40d3a0007540dd9\",\"createdAt\":\"2019-09-18T18:37:30.493Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/GameScore/5d82796af40d3a0007540dd9"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 162,
      },
      {
        "_id": "829013653a8f19bdfa638b57552cf01b",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "874b76174030ed6e2276a16ae92049cf,1568831850506"
            },
  [...]
