{
  "log": {
    "_recordingName": "Objects/Bit operations/bit xor",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "acfaa01e9aceb0ca6a5b566130ba64fb",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "bdff6250e6dc7111a8046d17fc482be0,1568868363945"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"flags\":{\"__op\":\"BitXor\",\"value\":1}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d83080c9c9235000886c4d8\",\"createdAt\":\"2019-09-19T04:46:04.122Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/GameScore/5d83080c9c9235000886c4d8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 197,
      },
      {
        "_id": "b5e278280ce667ff8d7ecc0d90266da9",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "611b33dca44f7088ba0301556ce0aa1f,1568868364146"
            },
  [...]
