{
  "log": {
    "_recordingName": "User/User loginAnonymously/create an anonymous user, and then signup",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f083b232583ad8178f9737c3a080464a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "010cbe783496ca323ea3652dfed7b68d,1568875570523,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "uld5kdeoyhb34ig8qy5s91fbd"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"tester1\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22tester1%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ead05000a277c9e0e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 06:46:10.300 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 145,
      },
      {
        "_id": "60d6a58467b7cd698ae678a900af5dba",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "06aaf2db75fa7f899e0325b3eb8ea12d,1568875570673"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "uld5kdeoyhb34ig8qy5s91fbd"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"authData\":{\"anonymous\":{\"id\":\"1b671a64-40d5-491e-99b0-da01ff1f3341\"}}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 320,
            "text": "{\"sessionToken\":\"8u5fm9bqkznej7bomiylyiuni\",\"updatedAt\":\"2019-09-19T06:46:10.815Z\",\"objectId\":\"5d832432f40d3a000754204f\",\"username\":\"lfdkmxr4ozt4pc9bvu1o9j2ta\",\"createdAt\":\"2019-09-19T06:46:10.815Z\",\"emailVerified\":false,\"authData\":{\"anonymous\":{\"id\":\"1b671a64-40d5-491e-99b0-da01ff1f3341\"}},\"mobilePhoneVerified\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_User/5d832432f40d3a000754204f"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 161,
      },
      {
        "_id": "dde1b9bd66f1a71125a2a81abac2a933",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "5560dd8e5263532f29907ff5eada0695,1568875570839"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "8u5fm9bqkznej7bomiylyiuni"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"username\":\"justsomeuniquename\",\"password\":\"justsomeuniquename\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User/5d832432f40d3a000754204f"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 194,
            "text": "[\"1f8b08000000000000030dca211680201005c0bb6c16df0716746946bbc9862e048b064c3eefae93e7a1fbd2dc8a4e8d12395831106365414c1c93452f82953a3ab7a3ec6dd67f051dbd63ef2a437d06300476e04aef07[...]
