{
  "log": {
    "_recordingName": "hooks/Object#destroy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "2a2b2bc7803308c692b061f265870743",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "7ebbee83ff782a02b8c19c931c0cca18,1568866194793"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"title\":\"test\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/IgnoreHookTest"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d82ff92f40d3a0007541d01\",\"createdAt\":\"2019-09-19T04:09:54.955Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/IgnoreHookTest/5d82ff92f40d3a0007541d01"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 177,
      },
      {
        "_id": "a35022fca30ebd12f9a93911e6756a0d",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "230d169e95cc842f287e2aa666b1b958,1568866194974"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"__ignore_hooks\":[\"beforeSave\",\"beforeUpdate\",\"beforeDelete\"]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/IgnoreHookTest/5d82ff92f40d3a0007541d01"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 48,
            "text": "[\"1f8b0800000000000003abae050043bfa6a302000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 146,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
