* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
  text-decoration: none;
}
h1 {
  margin-top: 120px;
  font-size: 60px;
  font-weight: bold;
}
h1 a {
  color: #2C97E8;
}
h2 {
  letter-spacing: 10px;
  font-size: 26px;
}
h2 a {
  color: #000;
}
.tips {
  margin-top: 90px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 25px;
  color: #E82C4B;
}

