{
  "log": {
    "_recordingName": "Queries/Query Constraints/select",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "3a9fbd2811f839b31975930b1d2afb19",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "de7f8abfab8f2295234f41542ee84134,1568868368849"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/TestClass\",\"body\":{\"foo\":\"bar\"}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dca311240301005d0bb6c8df99145369d52af621464a3d09891a88cbbf3ea373f94ee10624ae41f3ab723863c28796ad45938839da17605d0356c74eba8a070c53547edf3df6a182921a59111ecb9f57095084ff4becb07e74ed4645c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 160,
      },
      {
        "_id": "8092deadaf6392d146d89dbdf2e6c589",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "ae4524bd13dbf5f046d8205049d6fbe7,1568868369016"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/GameScore\",\"body\":{\"playerName\":\"testname\",\"score\":1000,\"players\":[\"a\",\"b\"],\"test\":{\"__type\":\"Pointer\",\"className\":\"TestClass\",\"objectId\":\"5d830810f40d3a0007541db7\"}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dca311240301005d0bb6c8df92b8b249d52af621464a3d09891a88cbbf3ea373f94ee10624ae41f3ab723863c28796ad41a58e65da06605d035c2ba592a285c71cd51fbfcb71aec4ab892dd08f1d27ab88aa59ee87d970f4[...]
