{
  "log": {
    "_recordingName": "User/authenticated/isAuthenticated/outdated sessionToken",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f083b232583ad8178f9737c3a080464a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "2700cac402c1879e857b4439e33ebec8,1568873167578,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "gdmc5kpwc1al2w0nil0miw1n3"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"tester1\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22tester1%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 402,
            "text": "[\"1f8b08000000000000038d8e3d0bc2301445ff4b665b5efa616d271ddd1cc44171489b1bad246d492208e27ff7d5457012de74ef799cfb141ee16e6310cde929e0546f4523224284976b3c949b2cd26e746221ee9356117a1399c848d609d589acf7b46ce6abd2bcac8e8c4dd7710023852c93bcce12ca28e3786c6fe8e2567353ea552e55674c413a574454958534ed6a7604f841397c4770d879fc23feac3fc0f7a6076b8cb2010b71c1a0e1f9d3706fc19c1bdbde6237cffca15fe7d71b235cdfc011010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 06:06:07.358 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 160,
      },
      {
        "_id": "f1abc3a8d7ca235fca358bfc06d8cb33",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "fdbaaaf37c58db4b0de1c455bc4b4643,1568873167742,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "gdmc5kpwc1al2w0nil0miw1n3"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User/5d831acff40d3a0007541fb8"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 48,
            "text": "[\"1f8b0800000000000003abae050043bfa6a302000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "applicati[...]
