{
  "log": {
    "_recordingName": "AV.Status/Query statuses./should return published statuses.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "e9b5645c11535692d47ddec592e37158",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "190f52505498d7e1cd08cb500b060225,1568883561007,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"username\":\"StatusTest\"}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_User?where=%7B%22username%22%3A%22StatusTest%22%7D&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ead05000a277c9e0e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 08:59:20.980 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 164,
      },
      {
        "_id": "753bad444bfbe95a6ec1b0894e19da0e",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "4cd7090925ebc46a1fd8ad72b18f4c4e,1568883561175"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"username\":\"StatusTest\",\"password\":\"StatusTest\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 234,
            "text": "{\"sessionToken\":\"f795krwaenlj67wk0heb1nmpf\",\"updatedAt\":\"2019-09-19T08:59:21.321Z\",\"objectId\":\"5d834369f40d3a000754262b\",\"username\":\"StatusTest\",\"createdAt\":\"2019-09-19T08:59:21.321Z\",\"emailVerified\":false,\"mobilePhoneVerified\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_User/5d834369f40d3a000754262b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 163,
      },
      {
        "_id": "8128738193cdb2a7ae754a2bd494956a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "d192447c6d36f3b00e9d6c63e30b1802,1568883561343"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "f795krwaenlj67wk0heb1nmpf"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"source\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"5d834369f40d3a000754262b\"}}"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_Status?where=%7B%22source%22%3A%7B%22__type%22%3A%22Pointer%22%2C%22className%22%3A%22_User%22%2C%22objectId%22%3A%225d834369f40d3a000754262b%22%7D%7D"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd29295[...]
