{
  "log": {
    "_recordingName": "AV.Cloud/#rpc/send bare AVObject",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "260af08bb560f57392d7e98658891595",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "4h2h4okwiyn8b6cle0oig00vitayum8ephrlsvg7xo8o19ne"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "798d11503491db6eebb68324fb4e8cd0,1608272583725"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"name\":\"avObject\",\"avFile\":{\"name\":\"hello.txt\",\"url\":\"http://ac-1qdney6b.qiniudn.com/3zLG4o0d27MsCQ0qHGRg4JUKbaXU2fiE35HdhC8j.txt\",\"metaData\":{\"owner\":\"unknown\",\"__source\":\"external\",\"size\":0},\"base64\":\"\",\"__type\":\"File\"},\"__type\":\"Object\",\"className\":\"ComplexObject\"}"
          },
          "queryString": [],
          "url": "https://api.leancloud.cn/1.1/call/testBareAVObjectParams"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 13,
            "text": "{\"result\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "x-request-biztype",
              "value": "unknown"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 42,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
