{
  "log": {
    "_recordingName": "Objects/Relational Data/should set relation ",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f2f0f7fdf18ab973c70d1f80571fa7a2",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "837f8d1dc15792d370b3f76b5f6d2cdf,1568827609896"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Post\",\"body\":{\"title\":\"post1\",\"author\":\"author1\",\"content\":\"Where should we go for lunch?\",\"location\":{\"__type\":\"GeoPoint\",\"latitude\":80.01,\"longitude\":-30.01}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dca310e80200c00c0bf7456536a0a85cdd1dd49e30085c5c5447032fe5d6fbeed817aab965a213c70a6a3689b3304e02c642547af9e464644119b981c74a05789ade4a9fd8dd0f81e7d6f64312e900d8c0332aef0befb075a6095775c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 171,
      },
      {
        "_id": "7bf059f65fc8c7b7820ce97323955d23",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "34163965935964408b1c37f4b7284628,1568827610070"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Comment\",\"body\":{\"content\":\"comment1\",\"parent\":{\"__type\":\"Pointer\",\"className\":\"Post\",\"objectId\":\"5d8268da9c9235000886b527\"}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dca310e80200c00c0bf7416536ac096cdd1dd49e38085c5c5447032fc5d6fbeed85f2a8e65220bc701d67d63a2708e01293e7144585068788ccfe70c4d081de39d69ca6fa37422b06c5585eec18c80787bd155aa1b5fd03c[...]
