{
  "log": {
    "_recordingName": "Objects/Relational Data/should set relation ",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "1558d4ab3f1a7a10641d8f4a0c388b15",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "b6c422c328d93436bd45770e4887a7ae,1568866200458"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Post\",\"body\":{\"title\":\"post1\",\"author\":\"author1\",\"content\":\"Where should we go for lunch?\",\"location\":{\"__type\":\"GeoPoint\",\"latitude\":80.01,\"longitude\":-30.01}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dcab10e40301006e077b919f97b5ae97533da4dc4c0b5068b446b12efce377ff343f9564d395378e8dc8ea4658814c845cffb2e5e54b87500bcefd4b2a38af44a6b49b12f7f6318a921b59111361804a0e90c4ff4becb07ee8df6785c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 172,
      },
      {
        "_id": "0faa95d4c23626919ba83ac7b9f909e0",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "781e19c340814c0f5d97da4196dc2603,1568866200634"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Comment\",\"body\":{\"content\":\"comment1\",\"parent\":{\"__type\":\"Pointer\",\"className\":\"Post\",\"objectId\":\"5d82ff989c9235000886c425\"}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dca311240301005d0bb6c8df90961379d52af62146ca2d09891a88cbbf3ea373f946ed59812f987ceed889a87409e5c60bbefc2a2626b0780b9d5c6b654905e71cd31f4f96f16464a48696444e30d3c5075ec267adfe503b[...]
