{
  "log": {
    "_recordingName": "Objects/Relational Data/should set relation ",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "9344c892a191637d8a88629bc5680e22",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "8a4811b2de84823a0118f5689d66440b,1568831845728"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Post\",\"body\":{\"title\":\"post1\",\"author\":\"author1\",\"content\":\"Where should we go for lunch?\",\"location\":{\"__type\":\"GeoPoint\",\"latitude\":80.01,\"longitude\":-30.01}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 218,
            "text": "[\"1f8b08000000000000030dca2b1280201000d0bb6c166759443ecd6837e91890c56071463031dc5ddb0b6fab90df1853cee02bdcc7956299193c68b664dca8cf0159054434fa171374109f144ae2a9fc8d503a814e48bb48eb95f1a47b6b7085d6f60f0d0333b95c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150,
      },
      {
        "_id": "3ef4e1e35f96e3f0436f8f94e2a88772",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "2bdb52c2565a273e6f4b65263598df0c,1568831845883"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Comment\",\"body\":{\"content\":\"comment1\",\"parent\":{\"__type\":\"Pointer\",\"className\":\"Post\",\"objectId\":\"5d827965f40d3a0007540dd2\"}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dca2b1280201000d0bb6c166701f936a3dda463401683c519c1c47077692fbcbd42fe624c3983aff09c778a6521f0a0c80ae3b4be26241910d1a82e9230407c532889e6d29b40ee183ac6edcaad97c60b3da2301bb476fc1[...]
