{
  "log": {
    "_recordingName": "Objects/Relational Data/should set relation ",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "00d23dcc115ef68eff69d995bdf9c8af",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "472f34796ae03a7494be24bbf63c08c0,1568868359521"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Post\",\"body\":{\"title\":\"post1\",\"author\":\"author1\",\"content\":\"Where should we go for lunch?\",\"location\":{\"__type\":\"GeoPoint\",\"latitude\":80.01,\"longitude\":-30.01}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 218,
            "text": "[\"1f8b08000000000000030dca311240301005d0bb6c8df9912c493aa55ec528221b85c68c4465dc9d57bfe5a17cc7987226ffd0b91d299651c8138bd5b0e87703d10140cf4649b05451bc52284986f2b716cad570b572138c37ecd9351dab99de77fd0085f0810e5c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150,
      },
      {
        "_id": "d327a462fd117616d41e82fb90d4393c",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "243a164800eb549574f51e56d3cd89bf,1568868359676"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/Comment\",\"body\":{\"content\":\"comment1\",\"parent\":{\"__type\":\"Pointer\",\"className\":\"Post\",\"objectId\":\"5d830807f40d3a0007541da8\"}}}]}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 216,
            "text": "[\"1f8b08000000000000030dcab10e40301006e077b919f9cb357add8c76133154af068b446b12efce377fcb43f98e31e54cfea1733b522ca39227abae8343bf33b40b007acb46835045f14aa1241dcadf5a18a921b59109ecd97a2b8d6b79a6f75d3fe[...]
