{
  "log": {
    "_recordingName": "Queries/scan/should works",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "badc231dba01bc19c5a2103af53de278",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "6e68870705332d87cb90a62268d19499,1568828073001,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "null"
          },
          "queryString": [
            {
              "name": "where",
              "value": "{\"timestamp\":1568828070569}"
            },
            {
              "name": "scan_key",
              "value": "objectId"
            },
            {
              "name": "limit",
              "value": "2"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/scan/classes/TestClass?where=%7B%22timestamp%22%3A1568828070569%7D&scan_key=objectId&limit=2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 346,
            "text": "[\"1f8b0800000000000003a5cebd0a83301440e177b9b396fc78e34db68e6e854a87960ed1a4d4a22849a483f8ee15fa0015ba7f70ce02c1c7b94f11cc6d81d40d3e263b4c60382a2241ac64a874066df03679774c604030ae73a6734e352f8d2c8c14078d78850ce6c9ed6163f3f26daadca6d09150d6926eb590c81823520da28435fbeb47c95d3f5ff6fba780f5be55e710c7b0a9873e55c3e52c9e7d55d4446f583f52e17e3c49010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 168,
      },
      {
        "_id": "67b3dba6c76736d709514daa91c70823",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "0457e92fb1b41dcd5530db4f3116a65b,1568828073174,master"
          [...]
