{
  "log": {
    "_recordingName": "Queries/scan/should works",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "cae8c14ab98c717922ee250cf77d3d6f",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "e1465d8fa38256a37efe7a0a8b1c37af,1568831890927,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "null"
          },
          "queryString": [
            {
              "name": "where",
              "value": "{\"timestamp\":1568831888209}"
            },
            {
              "name": "scan_key",
              "value": "objectId"
            },
            {
              "name": "limit",
              "value": "2"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/scan/classes/TestClass?where=%7B%22timestamp%22%3A1568831888209%7D&scan_key=objectId&limit=2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 344,
            "text": "[\"1f8b0800000000000003a5ceb10ac2301080e177b9b9954b42dbbb6ca208054727c5216d32282dadc97590d277b7e0035870ffe0ff6788214d9d24b0b719e4d18724ae1fc1aaa224328a883472066d0c4e82df0b58d0a83847ce155d14594356e18e88af90c134fa2d6c689ea195daafaaf0a42b66cd2d6b53202251d994dec192fdf5c3d5a69f2ffbfdd3c0725fab534c435c95abdffe589fcc21fa33bf8460f9003051a56f49010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 171,
      },
      {
        "_id": "072aa47d92202a178927acf964ba8ce1",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "2f27d7613b219d4fdcc096ed240c60a0,1568831891102,master"
          [...]
