{
  "log": {
    "_recordingName": "Queries/scan/should works",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "ddffa39041816beb346057ac9ff7f12b",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "558934d1d117fadbfa9bfed27642da35,1568868374637,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "null"
          },
          "queryString": [
            {
              "name": "where",
              "value": "{\"timestamp\":1568867865073}"
            },
            {
              "name": "scan_key",
              "value": "objectId"
            },
            {
              "name": "limit",
              "value": "2"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/scan/classes/TestClass?where=%7B%22timestamp%22%3A1568867865073%7D&scan_key=objectId&limit=2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 344,
            "text": "[\"1f8b0800000000000003a5cebd0ac2301440e177b9732af79a9f26d91414dd054171a84d0483a52549174bdfdd0cee16dc3f386782e8d3f8ca09ec7582fcec7cca4d378025a9b456b556126bcea08dbec9de6d32585823990a4d45e684c20a6549aca4511760300e6e09ebefc1b7f9e88a924e73d4a41e021d6f10b196825c8b30b37f7e14f2253f5ff6fb8760be95ea18531f8b325b0a4178d31d76ef73d897db0f2b38787449010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 155,
      },
      {
        "_id": "37bb6d8ca19aa06f5ddba81286d7f283",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "43a3a9089b8b10991c290eec004159f2,1568868374798,master"
          [...]
