{
  "log": {
    "_recordingName": "Queries/scan/should works",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "82c729848a7bff5eb51c675830c08894",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "c69b691305e0252eeba01270d5d80ff5,1568866211608,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "null"
          },
          "queryString": [
            {
              "name": "where",
              "value": "{\"timestamp\":1568866189529}"
            },
            {
              "name": "scan_key",
              "value": "objectId"
            },
            {
              "name": "limit",
              "value": "2"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/scan/classes/TestClass?where=%7B%22timestamp%22%3A1568866189529%7D&scan_key=objectId&limit=2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 342,
            "text": "[\"1f8b0800000000000003a5cecd0a82401440e177b96b8d7b75fe77b5108c760546d1429d118c4499191721be7b3e82d0fe837316f02ecc9f18c03c1788fde042ac87090c71a19410a434cf7402ad777574f618c14086a453d429e91b324368880e5cd203129827bb878dcddbb5b1b49be256655d57e71d439bd7882839234b12d6e4bf1fb9ef47eefb51b0beb6eaecc3e837756ac4b9ff56ac2a2fee5adc0b587fe7c1efb549010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 155,
      },
      {
        "_id": "09f98fbb61b4d19f0cdcf0f4162757be",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "fad5c8b86cb06d5fa62b4f913b6c34eb,1568866211768,master"
          [...]
