{
  "log": {
    "_recordingName": "ObjectACL/set and fetch acl",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "9964771e68efac2e6da7c7d69949fe3a",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "7ef9507430b2ebd22c0a1b361e990f4b,1569215107247"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"score\":2,\"playerName\":\"sdf\",\"cheatMode\":false,\"ACL\":{\"*\":{\"read\":true,\"write\":true},\"read-only\":{\"read\":true},\"write-only\":{\"write\":true},\"role:write-only-role\":{\"write\":true}}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d88528322097e000848b278\",\"createdAt\":\"2019-09-23T05:05:07.479Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/GameScore/5d88528322097e000848b278"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 253,
      },
      {
        "_id": "63324c9ff87a503a398e4e08dd52320f",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "1c41d1c290de228f811a0c3aa1e4be74,1569215107504"
            },
  [...]
