{
  "log": {
    "_recordingName": "Objects/Retrieving Objects/should be the just save Object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "8e6e3528ba25e5a33cf5d021bd2cb6a4",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "c9f4abe7617d2b2cfefc5c86ebff2a7e,1568827605285"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "null"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore/5d8268d5f40d3a0007540c43"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 320,
            "text": "[\"1f8b08000000000000038d8d310ec2300c45efe2b9454e9ab4693646069898400c264e455151ab340c0871771c7101bcd87efa7e7ec37361ca91b7193c68547d8d7daddc51755eb7ded80d6a73820a2825f0e7d2d46fd370a960bede63c83b965bcb4eb78eed60901b42c4ce1a0ca6917448f19f17cb44af980ef4889263163216f158a635cc49b09212df4d7cfb99050c34adf1f3050fcd1b76c6000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 18 Sep 2019 17:26:45.024 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 157,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
