{
  "log": {
    "_recordingName": "Objects/Retrieving Objects/should be the just save Object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "a54a79dc2b720a740328a56c3d840384",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "d731559c9d3562770330cfacd8f6db13,1568868354772"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "null"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore/5d8308029c9235000886c4cf"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 320,
            "text": "[\"1f8b08000000000000038d8d310ec2300c45efe2b9454e9a94241b23034c4c208610a7a25551aa340c0871771c7101bcd87efa7e7ec373215f22ed0a3890286c8bb615f684ca29edb4dae0b63f43033e677097dac46f93706d20dda618ca9ef85693e9d0a0b4c1ca4e23a2317d5061e074c8f19f17cbec5f311ffd23728e88c958c5639dd6903263c1c5be3bfb0e89180c7e5ee3e70b36a18b50c6000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 04:45:54.076 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 252,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
