{
  "log": {
    "_recordingName": "Objects/Retrieving Objects/should be the just save Object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "38863ec2cbdd92303eb44bb8841653f2",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "a8a97aa7e29325bc535d5376b6514c41,1568831841194"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "null"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore/5d8279609c9235000886b6b4"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 320,
            "text": "[\"1f8b08000000000000038d8d310ec2300c45efe2b9454e4ad2241b23034c4c2086340ea25551aa340c0871771c7101bcd87efa7e7ec373215f22ed0a3890286c8bb615e6248ceb7a277163953e43033e677097dac46f93706d200d530c654f7cabc8c8de6ab4c1ca4e21a2317ad0c396d321c77f5e2cb37fc57cf48fc839222663158f755a43ca8c0517fbeeec3b246270f3f31a3f5f7884b5cbc6000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 18 Sep 2019 18:37:20.956 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 143,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
