{
  "log": {
    "_recordingName": "Objects/Retrieving Objects/should be the just save Object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "4dc68004c34741aa8aafcc0b185b56f3",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "89a8cd01f1f940d4da6d8dcb556a72b5,1568866196074"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "null"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore/5d82ff939c9235000886c41f"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 320,
            "text": "[\"1f8b08000000000000038d8d310ec2300c45efe2b9454e9aa0381b23034c4c20861027a2a855abb40c0871771c7101bcd87efa7e7ec373e6b026deade041a3a216a9557442e391bcb51b67ba3334104a017fa94dfd360dd706a6db23c575cf726bd9e99ca9a348bab388e8dc361a95251d4bfae7c53c84572ac73026c9310be9abb8afd312a722584989ef2ebec3c402721896f4f90204a8d15ec6000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 04:09:55.843 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 143,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
