{
  "log": {
    "_recordingName": "Queries/Compound Query/should satisfy on 'and' conditions",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "47a5a97780cb563cb103a7280a4caad1",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "4a7d5036c006c0a0a9b0b9a0a53787b9,1568868373907"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "where",
              "value": "{\"$and\":[{\"score\":{\"$gt\":150}},{\"cheatMode\":true}]}"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore?where=%7B%22%24and%22%3A%5B%7B%22score%22%3A%7B%22%24gt%22%3A150%7D%7D%2C%7B%22cheatMode%22%3Atrue%7D%5D%7D"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 72,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd292956b28a8ead05000a277c9e0e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 19 Sep 2019 04:46:12.153 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 159,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
