{
  "log": {
    "_recordingName": "Objects/Updating Objects/should not update prop when query not match",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "641c51ca6632846ba0842f57ae333ade",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "08a6776350b99a131bbae0ef7e2b6369,1568866196398"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"score\":10000}"
          },
          "queryString": [
            {
              "name": "where",
              "value": "{\"score\":-1}"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore/5d82ff939c9235000886c41f?where=%7B%22score%22%3A-1%7D"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 66,
            "text": "{\"code\":305,\"error\":\"No effect on updating\\/deleting a document.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 149,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
