{
  "log": {
    "_recordingName": "Conversation/#send/should send a realtime message to the conversation",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "96bb83faae305051090bdd7504d681b1",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "2e91ee38f0073a47a01f35a35e1c514e,1569224674698"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"name\":\"test\",\"m\":{\"__op\":\"Add\",\"objects\":[\"test1\",\"test2\"]}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/_Conversation"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 78,
            "text": "{\"objectId\":\"5d8877e242e5e4000887b4dd\",\"createdAt\":\"2019-09-23T07:44:34.843Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "/1.1/classes/_Conversation/5d8877e242e5e4000887b4dd"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 166,
      },
      {
        "_id": "e41ad5a2f99cfcb9709ed420fd3846fd",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "991fb158f13dcf4704b4020a38b4bcc1,1569224674866,master"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"from_peer\":\"admin\",\"conv_id\":\"5d8877e242e5e4000887b4dd\",\"transient\":false,\"message\":\"test test test!\"}"
          },
          "queryString": [],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/rtm/messages"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 188,
            "text": "[\"1f8b0800000000000003ab562a4a2d2ecd2951b2aa56ca2d4ed7cd4c51b25272f70fcd494b73c9f0c9754f730cf70e704f2c092b0d54d2512ac9cc4d2d2e49cc2d50b2323435b33432323133373530b0a8ad0500511ca17d48000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 147,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
