{
  "log": {
    "_recordingName": "Objects/Updating Objects/should update prop when query match",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "13ce17ad60825d3658926486aa89e475",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "14fd41884035ce7e7b98c2934fdbe2d2,1568827605816"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"score\":10000}"
          },
          "queryString": [
            {
              "name": "new",
              "value": "true"
            },
            {
              "name": "where",
              "value": "{\"score\":{\"$ne\":-1}}"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore/5d8268d5f40d3a0007540c43?new=true&where=%7B%22score%22%3A%7B%22%24ne%22%3A-1%7D%7D"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 214,
            "text": "[\"1f8b08000000000000030dccab1280201040d17fd90cceb23ca519ed261bb2182c388ac9f1dfe5e633f7853bd7ab4054d813f09c9c5ae1a9410442354a1ca50a8bf2915c346e40f22b08a8db51729bb92bcb815c60bb1b649dfac45b83d968f87e9b726b415c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 225,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
