{
  "log": {
    "_recordingName": "Objects/Updating Objects/should update prop when query match",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "c35902b303b15f9fc4466ef483a98cee",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "be1fc8d5fd806734f6399fe7164f2d19,1568868355532"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"score\":10000}"
          },
          "queryString": [
            {
              "name": "new",
              "value": "true"
            },
            {
              "name": "where",
              "value": "{\"score\":{\"$ne\":-1}}"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore/5d8308029c9235000886c4cf?new=true&where=%7B%22score%22%3A%7B%22%24ne%22%3A-1%7D%7D"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 214,
            "text": "[\"1f8b08000000000000030dccab0e80300c40d17fa91ea47b7469e79078140eba213010188af0efecea93fbc2adc75520596c1978cebcd492870a091c5ae9503a2b1386142811f591690603c7ba17ad636e8a327b6474a2e23cb50973d4a01b7c3f54faf5735c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 177,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
