{
  "log": {
    "_recordingName": "Objects/Updating Objects/should update prop when query match",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "6c5131f206d756c0216cb8c4d1f752fa",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "7089734d295fcd1a5be69688b10a508a,1568831841686"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"score\":10000}"
          },
          "queryString": [
            {
              "name": "new",
              "value": "true"
            },
            {
              "name": "where",
              "value": "{\"score\":{\"$ne\":-1}}"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore/5d8279609c9235000886b6b4?new=true&where=%7B%22score%22%3A%7B%22%24ne%22%3A-1%7D%7D"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 214,
            "text": "[\"1f8b08000000000000030dccab1280201040d17fd98c0ebb08ecd28c76934d1ec582a3981cff5d6e3e735fb853bd0a04d43d05cf99f756f2dc2000699441cb80bc2207e303e1c8241b28a8f128a92db92b9b99bc382d49c8d83e6176d1c509be1fb35cee1f5c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 152,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
