{
  "log": {
    "_recordingName": "Objects/Updating Objects/should update prop when query match",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "ce2e91759a7e8ac320502279f5f6fc5c",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "ec3d8b97b2221bee00007b60f1c02c95,1568866196553"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"score\":10000}"
          },
          "queryString": [
            {
              "name": "new",
              "value": "true"
            },
            {
              "name": "where",
              "value": "{\"score\":{\"$ne\":-1}}"
            }
          ],
          "url": "https://95tnuaos.api.lncldapi.com/1.1/classes/GameScore/5d82ff939c9235000886c41f?new=true&where=%7B%22score%22%3A%7B%22%24ne%22%3A-1%7D%7D"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 214,
            "text": "[\"1f8b08000000000000030dccab0e80300c40d17fa91ea47ba6ad43e25138d84360466028c2bfb3ab4fee0b77ac5706d1d853f09c696b394d0d040c6a1e9007cd0b3a41161fc640b48282ba1f39b63975e5139952d87264637d9f1085e87481ef07af6990965c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 156,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
