{
  "log": {
    "_recordingName": "AV.Cloud/#rpc/send AVObject",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "b99c98ca05e610c14a4cdf1a43c4d98f",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "4h2h4okwiyn8b6cle0oig00vitayum8ephrlsvg7xo8o19ne"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "bec84f944722aa5dd20a4a081468d9cf,1568868349048"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/ComplexObject\",\"body\":{\"name\":\"avObject\",\"pointerColumn\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"55069e5be4b0c93838ed8e6c\"}}},{\"method\":\"POST\",\"path\":\"/1.1/classes/ComplexObject\",\"body\":{\"name\":\"avObjects\"}}]}"
          },
          "queryString": [],
          "url": "https://api.leancloud.cn/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 246,
            "text": "[\"1f8b080000000000000395ccb10ec2201006e077b9999aff2c08c7e6e8dea9c6817230b898089d9abebbc627a8fb97efbe515b732ead51dce8b53c4bee37a5484ec3085f95fde2ac02975039a5e0c9507e97d48b5efb979dc13240069609365a17ad9c209869dfcd9f753850337ef5e303b59d045fb7000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 58,
      },
      {
        "_id": "b83bba002383d82d4c37f5601834b0c0",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "4h2h4okwiyn8b6cle0oig00vitayum8ephrlsvg7xo8o19ne"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "274b1022b9c34ea5c7a871f2ff1a5686,1568868349112"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"avObject\":{\"name\":\"avObject\",\"pointerColumn\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"55069e5be4b0c93838ed8e6c\"},\"objectId\":\"5d8307fd17b54d0068f1aa87\",\"createdAt\":\"2019-09-19T04:45:49.090Z\",\"updatedAt\":\"2019-09-19T04:45:49.090Z\",\"__type\":\"Pointer\",\"className\":\"ComplexObject\"},\"avFile\":{\"name\":\"hello.txt\",\"url\":\"http://ac-1qdney6b.qiniudn.com/3zLG4o0d27MsCQ0qHGRg4JUKbaXU2fiE35HdhC8j.txt\",\"metaData\":{\"owner\":\"unknown\",\"__source\":\"external\"},\"base64\":\"\",\"__type\":\"File\"},\"avObjects\":[{\"name\":\"avObjects\",\"objectId\":\"5d8307fd17b54d0068f1aa88\",\"createdAt\":\"2019-09-19T04:45:49.100Z\",\"updatedAt\":\"2019-09-19T04:45:49.100Z\",\"__type\":\"Pointer\",\"className\":\"ComplexObject\"}]}"
          },
          "queryString": [],
          "url": "https://api.leancloud.cn/1.1/call/testAVObjectParams"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 13,
            "text": "{\"result\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 44,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
