{
  "log": {
    "_recordingName": "AV.Cloud/#rpc/send AVObject",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "f30c68a1002ee0cd4d600bdebd72e46d",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "4h2h4okwiyn8b6cle0oig00vitayum8ephrlsvg7xo8o19ne"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "545f67954796da1a148d72d6666e5fd4,1568827882062"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/ComplexObject\",\"body\":{\"name\":\"avObject\",\"pointerColumn\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"55069e5be4b0c93838ed8e6c\"}}},{\"method\":\"POST\",\"path\":\"/1.1/classes/ComplexObject\",\"body\":{\"name\":\"avObjects\"}}]}"
          },
          "queryString": [],
          "url": "https://api.leancloud.cn/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 242,
            "text": "[\"1f8b080000000000000395cc3b0e83300c00d0bb7806643b0af96c1dd93b1531b8b1972e484d3a21ee0edca0ec4f6fdea0fe4ab15a216fb0be3f56daa490c16be4319998880b1e31a0c4c0aad041f99a34d3473b1923a51e534ff149213bcacc03917fc1be77376bfba77674d5cb018c2b6168b7000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 65,
      },
      {
        "_id": "7ced764712ea346ecc3f7958107e7d47",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "4h2h4okwiyn8b6cle0oig00vitayum8ephrlsvg7xo8o19ne"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "49c17e0e281b62d37dab7860d20610a8,1568827882130"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"avObject\":{\"name\":\"avObject\",\"pointerColumn\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"55069e5be4b0c93838ed8e6c\"},\"objectId\":\"5d8269eaeaa3750070a872dd\",\"createdAt\":\"2019-09-18T17:31:22.115Z\",\"updatedAt\":\"2019-09-18T17:31:22.115Z\",\"__type\":\"Pointer\",\"className\":\"ComplexObject\"},\"avFile\":{\"name\":\"hello.txt\",\"url\":\"http://ac-1qdney6b.qiniudn.com/3zLG4o0d27MsCQ0qHGRg4JUKbaXU2fiE35HdhC8j.txt\",\"metaData\":{\"owner\":\"unknown\",\"__source\":\"external\"},\"base64\":\"\",\"__type\":\"File\"},\"avObjects\":[{\"name\":\"avObjects\",\"objectId\":\"5d8269eaeaa3750070a872de\",\"createdAt\":\"2019-09-18T17:31:22.131Z\",\"updatedAt\":\"2019-09-18T17:31:22.131Z\",\"__type\":\"Pointer\",\"className\":\"ComplexObject\"}]}"
          },
          "queryString": [],
          "url": "https://api.leancloud.cn/1.1/call/testAVObjectParams"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 13,
            "text": "{\"result\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 43,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
