{
  "log": {
    "_recordingName": "AV.Cloud/#rpc/send AVObject",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "17e98a5640786829118d810851b6e4f9",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "4h2h4okwiyn8b6cle0oig00vitayum8ephrlsvg7xo8o19ne"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "91e37378ca228d09fb601474d2457429,1568866190626"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/ComplexObject\",\"body\":{\"name\":\"avObject\",\"pointerColumn\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"55069e5be4b0c93838ed8e6c\"}}},{\"method\":\"POST\",\"path\":\"/1.1/classes/ComplexObject\",\"body\":{\"name\":\"avObjects\"}}]}"
          },
          "queryString": [],
          "url": "https://api.leancloud.cn/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 244,
            "text": "[\"1f8b080000000000000395cc310e83300c05d0bb7806f44309c4d918bb335175a0b619ba20913021ee4e7b03d89fde6ba7b489584a14775a3e5f93fc548ae435d4f31c6c6227fc005a510fa8a78264b5299bf6f9c76a382ec1a5e3014d04478faaed9a918ea3b8597757eac0fffa7d02119cdc72b7000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 63,
      },
      {
        "_id": "7da5a7bbcfeba3038e4ddcd58ef80d6e",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "4h2h4okwiyn8b6cle0oig00vitayum8ephrlsvg7xo8o19ne"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "512b5382417775deac576df321b1461f,1568866190695"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"avObject\":{\"name\":\"avObject\",\"pointerColumn\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"55069e5be4b0c93838ed8e6c\"},\"objectId\":\"5d82ff8ea91c93006cd500d5\",\"createdAt\":\"2019-09-19T04:09:50.674Z\",\"updatedAt\":\"2019-09-19T04:09:50.674Z\",\"__type\":\"Pointer\",\"className\":\"ComplexObject\"},\"avFile\":{\"name\":\"hello.txt\",\"url\":\"http://ac-1qdney6b.qiniudn.com/3zLG4o0d27MsCQ0qHGRg4JUKbaXU2fiE35HdhC8j.txt\",\"metaData\":{\"owner\":\"unknown\",\"__source\":\"external\"},\"base64\":\"\",\"__type\":\"File\"},\"avObjects\":[{\"name\":\"avObjects\",\"objectId\":\"5d82ff8ea91c93006cd500d7\",\"createdAt\":\"2019-09-19T04:09:50.689Z\",\"updatedAt\":\"2019-09-19T04:09:50.689Z\",\"__type\":\"Pointer\",\"className\":\"ComplexObject\"}]}"
          },
          "queryString": [],
          "url": "https://api.leancloud.cn/1.1/call/testAVObjectParams"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 13,
            "text": "{\"result\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 40,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
