{
  "log": {
    "_recordingName": "AV.Cloud/#rpc/send AVObject",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "a1e194d51507503d5fbc03ab1b001374",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "4h2h4okwiyn8b6cle0oig00vitayum8ephrlsvg7xo8o19ne"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "2af423266c347de4e6a0f615baf9f48c,1568831835871"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1.1/classes/ComplexObject\",\"body\":{\"name\":\"avObject\",\"pointerColumn\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"55069e5be4b0c93838ed8e6c\"}}},{\"method\":\"POST\",\"path\":\"/1.1/classes/ComplexObject\",\"body\":{\"name\":\"avObjects\"}}]}"
          },
          "queryString": [],
          "url": "https://api.leancloud.cn/1.1/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 244,
            "text": "[\"1f8b080000000000000395cc310e83300c00c0bf78862a0e98d8d93ab2772a620889195890483a21fe0efca0eca71b76c8bf183567f03bacd3a2b1f4093c5062eb84a699b90db331d48624a40415c44d43d1f42e17b306a53652237f907de33cd24bd07de138aa8775f74f6df9aec713f37587b8b7000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 55,
      },
      {
        "_id": "f12e534ff93fed8747f8a89417240f69",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "4h2h4okwiyn8b6cle0oig00vitayum8ephrlsvg7xo8o19ne"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "43f51e3db252dc2bf0e346758b8bd094,1568831835930"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"avObject\":{\"name\":\"avObject\",\"pointerColumn\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"55069e5be4b0c93838ed8e6c\"},\"objectId\":\"5d82795bf884af0054ad95e5\",\"createdAt\":\"2019-09-18T18:37:15.917Z\",\"updatedAt\":\"2019-09-18T18:37:15.917Z\",\"__type\":\"Pointer\",\"className\":\"ComplexObject\"},\"avFile\":{\"name\":\"hello.txt\",\"url\":\"http://ac-1qdney6b.qiniudn.com/3zLG4o0d27MsCQ0qHGRg4JUKbaXU2fiE35HdhC8j.txt\",\"metaData\":{\"owner\":\"unknown\",\"__source\":\"external\"},\"base64\":\"\",\"__type\":\"File\"},\"avObjects\":[{\"name\":\"avObjects\",\"objectId\":\"5d82795bf884af0054ad95e6\",\"createdAt\":\"2019-09-18T18:37:15.928Z\",\"updatedAt\":\"2019-09-18T18:37:15.928Z\",\"__type\":\"Pointer\",\"className\":\"ComplexObject\"}]}"
          },
          "queryString": [],
          "url": "https://api.leancloud.cn/1.1/call/testAVObjectParams"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 13,
            "text": "{\"result\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 40,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
