{
  "log": {
    "_recordingName": "Friendship/.request/shoud return void",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "cb45bab1729dfdeac7f0009dbbbf77c2",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "95f4ba8b1e0a881d2b0b03770d9a513d,1590827736064"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "0ba67iauprltp56736hjfom50"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{\"user\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"5ed21ad9d5529d000945b0b6\"},\"friend\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"5ed21ad9d5529d000945b0b5\"},\"friendship\":{}}"
          },
          "queryString": [],
          "url": "https://95tnuaos.lc-cn-e1-shared.com/1.1/users/friendshipRequests"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 194,
            "text": "[\"1f8b08000000000000030dca210e80300c05d0bb5433f2e9286c739378146e5b6b3024648e707778fa3d74d5d35adf941289294f458b8a70540071968a1a68a0765be9a6b9ff8dc17010e7b123242fc98711eb72d0fb0124ae102f4e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 121,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
