{
  "log": {
    "_recordingName": "Friendship/.request/shoud return void",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "e14ffe94819b2137cc2d6d741e23bfef",
        "request": {
          "headers": [
            {
              "name": "x-lc-id",
              "value": "95TNUaOSUd8IpKNW0RSqSEOm-9Nh9j0Va"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-lc-sign",
              "value": "9a759312b725a582834359109747d6ee,1577443379623"
            },
            {
              "name": "x-lc-hook-key",
              "value": "2iCbUZDgEF0siKxmCn2kVQXV"
            },
            {
              "name": "x-lc-prod",
              "value": "1"
            },
            {
              "name": "x-lc-session",
              "value": "cowc0bmybl0554u5q5vhzwv7x"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json;charset=UTF-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://95tnuaos.lc-cn-e1-shared.com/1.1/users/self/friendship/5e05e03cff02830008f3bd55/request"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 194,
            "text": "[\"1f8b0800000000000003ab56ca4fca4a4d2ef14c51b252324d350022e3e4b43403230b630303038b34e3a4145373251da5e4a2d4c492d414c712a0322303434b5d43235d23f31043032b13632b030b3d7343b328a55a0000476ad04e000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 83,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
